[2022-02-20 17:36] Ein-Tim commented on #726
This issue remains open as long as the travel rules have not been updated.

[2022-02-21 10:29] Jo-Achim commented on #387
@dsarkar, @MikeMcC399,

thanks for the information and updates.

As @MikeMcC399 already wrote, the only thing missing now is the correction under "Terms of Use", at the end of point 4:
![Screenshot_20220221-111408_Corona-Warn_2](https://user-images.githubusercontent.com/21124877/154937138-a109b4c0-1ea5-496a-a2b9-ffb60fc708f8.jpg)

[2022-02-21 10:54] Jo-Achim commented on #728
Yes that's what I think.

In my opinion, the information about what kind of vaccination certificate is part of the overall information.
Just like, for example, the "2G" info.

[2022-02-21 11:46] UnrelatedWorks opened #799 "2G+ instead of 2G badge"
## Curent implimentation
When vaccinated 2 or 3 times a 2G badge is displayed above the QR code.

## Suggested Enhancement
If a third vaccination is present, change the badge to 2G+ from 2G.

## Expected Benefits
When verifying a 2G+ status, a buisness needs to scroll down the the different vaccinations. With a improved badge it would simplify the process to verify the 2G+ status greatly.

[2022-02-21 11:51] Ein-Tim commented on #799
This will be implemented in the next version: https://github.com/corona-warn-app/cwa-app-ccl/pull/25

[2022-02-21 11:52] UnrelatedWorks commented on #788
This is definitely a necessary improvement. Since most people are not aware that the inbuilt camera app in some phones has a QR scanner implemented.
They rather download a 3rd party app filled with ads.
It would make the testing process simpler if just the CWA is required.

[2022-02-21 11:53] UnrelatedWorks commented on #799
perfect, thank you

[2022-02-21 11:53] #799 closed, assigned to nobody

[2022-02-22 08:04] larswmh commented on #777
Hey @heinp, thanks for your report. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-11970](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11970)

---
Corona-Warn-App Open Source Team

[2022-02-23 00:45] Th-St opened #800 "Display also scanned test result in "Contact Journal" also if registration for the test was not scanned"
## Current Implementation

When I register for a test (PCR or Rapid Test) in Germany, I can scan a QR code.
After the test is reported to be negative I get an entry in the "Contact Journal" about it.

## Suggested Enhancement

I participate regualry in PCR tests performed in Austria. There I can only scan the test result. After scanning, it is shown in certificates but not in "Contact Journal".

#

[2022-02-23 05:36] Ein-Tim commented on #800
I guess you are scanning an EU digital COVID test certificate, or?
The certificate is shown on the "Certificates" tab, right?

The thing is that the certificates tab is intended to store certificates from multiple person (family), if you want this. The app has no clue who you are.
But I guess what would be possible is to check whether a test certificate for the favorite person is imported (The swi

[2022-02-23 12:19] Jo-Achim opened #801 "Extension of the time range in the CWA diary to make it more flexible..."
## Current Implementation
Times of up to 23 hours and 50 minutes can currently be specified in the CWA-diary.

## Suggested Enhancement
I would like to suggest being able to specify / choose a period of 24 hours in this diary.
Aim: to be able to define several 24-hour days, similar to a calendar entry over several days. Further location specifications, activities, etc. could then be entered under

[2022-02-23 12:52] MikeMcC399 commented on #801
@Jo-Achim
- Your enhancement request is very closely related to the bug report https://github.com/corona-warn-app/cwa-documentation/issues/918 for Android.

[2022-02-23 13:47] Jo-Achim commented on #801
... wow, nearly 11 months ago.

Ok @MikeMcC399, it's the same suggestion. I'll keep this point open for a while, as it's under the wish-list - maybe 'double track' is faster.

[2022-02-23 15:01] larswmh commented on #791
Thanks for your suggestion @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12001](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12001)

---
Corona-Warn-App Open Source Team

[2022-02-23 21:19] Th-St commented on #800
Hi Tim,
yes, you got me right. This is what I meant.

I would like that after scanning a test certificate, which is recognized to belong to the owner of the phone ("Please turn on this switch ...") is shown in the contact journal.

[2022-02-24 07:02] petkoe opened #802 "Set the "Status Nachweis" to invalid while tested positiv"
Hello,

would it not be better to set the status to invalid while a person is tested positiv in a pcr test situation.

while tested positiv the certificate is still valid for going anywhere. If I just show the cert nobody get to know I am positiv.

I See it as a possible risk for others. Even if it is forbidden by the rules.

regards

Peter

---
Internal Tracking ID: [EXPOSUREAPP-12148](https://ji

[2022-02-24 07:46] larswmh commented on #801
Thanks for your enhancement request @Jo-Achim. As @MikeMcC399 already pointed out, it is very closely related to https://github.com/corona-warn-app/cwa-documentation/issues/918. We have therefore attached your issue to the already existing internal ticket.
Internal Tracking ID: [EXPOSUREAPP-6160](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-6160)

---
Corona-Warn-App Open Source Team

[2022-02-24 08:37] larswmh commented on #800
Thanks for your enhancement request @Th-St. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12004](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12004)

---
Corona-Warn-App Open Source Team

[2022-02-24 08:40] Ein-Tim commented on #802
As you can just delete the positive test result I doubt that this will stop anyone from going to events while being actively infected with COVID-19.

[2022-02-24 09:18] larswmh commented on #789
Thanks for your enhancement request @UMaster7. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12005](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12005)

---
Corona-Warn-App Open Source Team

[2022-02-24 21:00] eduardompinto commented on #63
Any update on this?

[2022-02-25 07:50] larswmh commented on #790
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12026](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12026)

---
Corona-Warn-App Open Source Team

[2022-02-25 13:55] Ein-Tim commented on #684
This is quite a good start: https://github.com/corona-warn-app/dcc-rule-translation

Let's see how this evolves, if all notifications can be seen there I will close this issue.

[2022-02-26 23:30] Ein-Tim commented on #770
@GN81

Seit 01.02.22 können Apotheken für solche Szenarien ein 2 von 1 bzw. auch ein 3 von 1 Zertifikat erstellen. Hast du dir so ein Zertifikat geben lassen?

[2022-02-27 11:13] truscobox opened #803 "[contact-journal] Contacts journal entries clean-up"
## Current Implementation
None.

## Suggested Enhancement
Automatically clean up the saved contacts and locations lists after a contact or location is no longer featured in the contacts journal.

## Expected Benefits
Declutters the saved contacts and locations lists.

[2022-02-27 13:00] MikeMcC399 commented on #803
- See also https://github.com/corona-warn-app/cwa-wishlist/issues/405.

[2022-02-27 19:32] truscobox commented on #803
Oh. I didn't see that one!

[2022-02-27 19:32] #803 closed, assigned to nobody

[2022-02-27 20:50] HolgerJeromin commented on #850
Can someone please hide the missleading messages? https://docs.github.com/en/communities/moderating-comments-and-conversations/managing-disruptive-comments#hiding-a-comment

[2022-02-28 12:59] dsarkar commented on #63
@eduardompinto No updates so far.

[2022-02-28 13:43] larswmh commented on #788
Thanks for your feature request @mdesharnais. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12070](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12070)

---
Corona-Warn-App Open Source Team

[2022-02-28 15:42] UnrelatedWorks commented on #798
Es ist ein Grundsatzproblem dessen beste Lösung gerade die CWA bietet.
Der Gast muss sich gegenüber dem Gastgeber als 2G (oder ähnlichem) verifizieren. Dies ist nur mit 2FA möglich. 1. Ist eine Person geimpft und 2. Ist diese geimpfte Person auch vor mir.
Es gibt andere Möglichkeiten als den vollen Namen zu benutzen. So könnte man auch die Ausweis ID benutzen. Oder einen hash aus dem Namen generie

[2022-02-28 16:43] dsarkar commented on #850
@HolgerJeromin thanks for the report, we will have a look at this.
@francwalter Thanks to you for participating here and giving some feedback. However, please, open another issue for your discussion, or if applicable continue in https://github.com/corona-warn-app/cwa-wishlist/issues/623 as suggested above.

[2022-03-01 08:53] larswmh commented on #778
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12074](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12074)

---
Corona-Warn-App Open Source Team

[2022-03-01 09:24] msschuh opened #804 "Possibility to manage and store self-test-results"
Maybe it would be possibile to - somehow - create "self-certificates"? (Of course they would not be validated.) (Ok, this is a really oversimplification of the idea, so let me explain the reason and the idea behind it)

The reason for this idea is to have a better overview of your own "test-status" and have a history that is available. On some days I go to an official test-center, so I have the re

[2022-03-01 09:44] larswmh commented on #775
Thanks for your enhancement request @thowa1. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12076](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12076)

---
Corona-Warn-App Open Source Team

[2022-03-01 10:27] Ein-Tim commented on #804
Related issue:
- #480

[2022-03-02 07:10] larswmh commented on #804
Thanks for your feature request @msschuh. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12084](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12084)

---
Corona-Warn-App Open Source Team

[2022-03-02 09:15] Mihahn opened #805 "Warning that QR Code can't be scanned again after removing PCR test from bin"
## Avoid duplicates
* [ X] This enhancement request has not already been raised before
* [ X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-w

[2022-03-02 09:38] dsarkar commented on #805
@Mihahn Transferred to Wishlist-repo. Thanks for the suggestion.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-02 11:34] larswmh commented on #805
Thanks for your enhancement request @Mihahn. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12087](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12087)

---
Corona-Warn-App Open Source Team

[2022-03-02 11:56] Ein-Tim commented on #805
Closely related to:
- #774

[2022-03-03 00:27] Ein-Tim opened #806 "Archive warning feature"
## Feature description

The app should be extended with a feature which allows the user to archive increased & low risk warnings.

## Problem and motivation
Many users are complaining that the warning stays until 14 days since the encounter have passed and there is no option to influence this, not even with a negative test.

Implementing an "Archive" feature for warnings, would be a benefit for th

[2022-03-03 00:35] Ein-Tim commented on #513
@dsarkar Is there any information available on whether this will be implemented?

It would be a very easy change but both the user as well as the team behind the blog posts would benefit from it.

IHMO this is a no-brainer.

[2022-03-03 00:41] Ein-Tim opened #807 "Option to deactivate "New Features" screen"
## Current Implementation
Currently after a (non patch) update, users are always welcomed with a "New Features" screen.

## Suggested Enhancement
Make it possible to deactivate the showing of this screen in the settings of the app.

## Expected Benefits
There are many users complaining about this screen on Twitter (e.g. [here](https://twitter.com/ZSleyer/status/1495346255345725444?s=20&t=g0C9VkQV2

[2022-03-03 00:45] Ein-Tim opened #808 "Replace the "New Features" screen with a "New Features" tile on the "Status" tab"
## Current Implementation
Currently after a (non patch) update, users are always welcomed with a "New Features" screen.

## Suggested Enhancement
Instead of showing a splash screen, which seems to annoy users, a tile on the "Status" tab should be shown, on which the user can click and where the features of the new version are listed & explained.

## Expected Benefits
There are many users complaini

[2022-03-03 01:04] Ein-Tim opened #809 "Twitter suggestion: Make it possible to request the EU DCC of others but not the test result (warning others is not possible)"
## Feature description
It should be possible to scan a test QR code in the CWA, choose to only request the EU test DCC of the it, which is then automatically added to the certificates tab when the test result is available.
**It should not be possible to warn others in the case that the test result is positive should be deactivated.**

## Problem and motivation
Many users are using the CWA to retri

[2022-03-03 01:08] Ein-Tim opened #810 "Twitter suggestion: Send push notification even if the risk status is already increased"
## Current Implementation
The user receives one push notification when the risk status changes from low to increased. If there are more exposures while the risk status is already increased, there is no push notification send anymore.

## Suggested Enhancement
Also send a push notification for new increased risk encounters, even if the risk status is already increased.

## Expected Benefits
The use

[2022-03-03 01:16] Ein-Tim opened #811 "Information pop-up to not use CWA for checking DCCs is missing a "Cancel" action"
## Current Implementation
Currently, the information pop up which is shown to the user when certificates from 3 persons are already stored in the app and the user scans the certificate from another person only offers the actions
1. "OK" (continues and adds the certificate to the app),
2. "Download CovPassCheck-App" which brings the user to the CovPassCheck-App in the store and
3. "FAQ zur Zertifik

[2022-03-03 08:01] thomasaugsten commented on #810
This enhancement is planned for v2.20

[2022-03-03 11:49] dsarkar commented on #810
Internal Tracking ID: [EXPOSUREAPP-11421](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11421) iOS
Internal Tracking ID: [EXPOSUREAPP-12064](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12064) Android

@Ein-Tim is this a duplicate of https://github.com/corona-warn-app/cwa-wishlist/issues/759 ?

[2022-03-03 11:50] Ein-Tim commented on #810
@dsarkar Indeed it is, closing.

[2022-03-03 11:50] #810 closed, assigned to nobody

[2022-03-03 14:22] larswmh commented on #811
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12125](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12125)

---
Corona-Warn-App Open Source Team

[2022-03-03 14:37] larswmh commented on #809
Thanks for forwarding this feature request from Twitter @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12126](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12126)

---
Corona-Warn-App Open Source Team

[2022-03-03 14:41] thomasaugsten commented on #414
The app is now available in the Ukraine stores

[2022-03-03 14:41] #414 closed

[2022-03-03 14:55] jetrca opened #812 "Automatische Löschung abgelaufener Zertifikate"
## Feature description
Ich wünsche mir die Möglichkeit, „fachlich abgelaufene“ Zertifikate automatisch oder bulkweise zu löschen.

## Problem and motivation
Meine CCTG-App quillt von alten Testzertifikaten über. Ich sehe derzeit keine andere Handhabe, als sie einzeln von Hand zu löschen, was mir als vermeidbare Arbeit widerstrebt. Bitte, gebt mir die Möglichkeit, Zertifikate, die einem nirgends me

[2022-03-03 14:59] dsarkar commented on #812
@jetrca Danke erst mal für den Vorschlag. Das hier ist das Corona-Warn-App repository und nicht CCTG! Wie auch immer, ich denke viele User würden gerne die Kontrolle darüber behalten, was gelöscht wird, und was nicht.

[2022-03-03 15:04] larswmh commented on #806
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12128](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12128)

---
Corona-Warn-App Open Source Team

[2022-03-03 19:12] caudate-julie commented on #554
I also vote for the exact day. The message "your vaccination protection will not be complete for another 5 days" is not clear enough. Should I count today as one of those "5 days" or not? It's prone to the off-by-one error in the user's head and leads to the uncertainty with the planning around that day.

"You will become fully protected on May 15" reads much clearer and creates less confusion.

[2022-03-04 09:32] dariusptrs opened #813 "Approx contact time"
## Feature description

 It would be cool to at least be able to see when the contact with an infected person has been approximately. For example: morning, noon or evening.
I dont know if it is possible to implement that so easily or wheather the whole system has to be changed, but I think it might be better than just showing people the whole day.

## Problem and motivation
 It would help people t

[2022-03-04 09:41] dsarkar commented on #813
Hi @DariCari

Thanks for participating here. See blog article about this topic:
- DE https://www.coronawarn.app/de/blog/2022-01-21-cwa-uhrzeit-rote-kachel/
- EN https://www.coronawarn.app/en/blog/2022-01-21-cwa-uhrzeit-rote-kachel/

[2022-03-04 09:43] #813 closed, assigned to nobody

[2022-03-04 10:41] Ein-Tim commented on #239
FYI: It seems like a positive test result will lead to a red risk card in the future ([PR](https://github.com/corona-warn-app/cwa-app-android/pull/4893)).
If this is implemented, it only makes sense that if a negative test is added, the risk card will turn green.

Is this planned @thomasaugsten?

[2022-03-04 10:52] jetrca commented on #812
Ich vermute, dass wir dann dasselbe wollen – nämlich Kontrolle. Kontrolle heißt aber auch, dass ich die Zertifikate nicht einzeln löschen muss, wenn ich sie nicht einzeln löschen will.

[2022-03-04 10:54] thomasaugsten commented on #239
It is not planned that test results will affect the risk card

[2022-03-04 11:07] larswmh commented on #807
Thanks for your enhancement suggestion @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12135](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12135)

---
Corona-Warn-App Open Source Team

[2022-03-04 11:11] Ein-Tim commented on #239
@thomasaugsten What exactly is this PR doing then? https://github.com/corona-warn-app/cwa-app-android/pull/4893

[2022-03-04 11:20] dsarkar commented on #812
@jetrca Vorschlag könnte sein: In den Einstellungen: Option: Abgelaufene Zertifikate automatisch löschen. Wenn "AN", dann: eine Notification, wenn ein Zertifikat abgelaufen ist: "Ihr Zertifikat" wird in den Papierkob verschoben und dort nach 3 Tagen endgültig entfernt."

[2022-03-04 11:33] larswmh commented on #808
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12136](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12136)

---
Corona-Warn-App Open Source Team

[2022-03-04 12:31] jetrca commented on #812
👍🏻

[2022-03-04 13:15] larswmh commented on #812
Thanks for your feature request @jetrca. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12137](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12137)

---
Corona-Warn-App Open Source Team

[2022-03-04 14:25] Regenhardt commented on #763
Habe die Zertifikate 2/2 und 3/3 gespeichert und bei mir wird 2G+ angezeigt wie erwartet.

[2022-03-04 14:41] Regenhardt commented on #704
If this gets implemented despite the potential data protection complications, it would be nice to only be able to add the ID card by scanning it via NFC, unlocking it with our ID's PIN. This would make it harder to just make a photo of an ID of someone who looks similar to me.

[2022-03-04 14:50] Jo-Achim commented on #763
@Regenhardt,
Reference: CWA version 2.18.1, right?

[2022-03-04 14:52] Regenhardt commented on #763
Just checked, yes it's version 2.18.1

[2022-03-04 14:53] riQQ commented on #763
I have the certificates 1/2, 2/2 and 3/3 saved and CWA 2.18.1 displays 2G+.

Ich habe die Zertifikate 1/2, 2/2 und 3/3 gespeichert und bekomme auch 2G+ angezeigt in der CWA 2.18.1.

[2022-03-04 17:30] dsarkar commented on #763
@riQQ @Regenhardt Thanks for your feedback.
@mromling We suggest closing this issue as implemented/fixed.

Thanks everybody for contributing and giving feedback here.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-05 08:28] #763 closed

[2022-03-05 08:28] mromling commented on #763
Fixed

[2022-03-05 09:03] leif5672 commented on #779
Hi, how is the status of this feature request? @svengabr @maugst @Ein-Tim
Was it approved or rejected by the team and why? Is there any way to look into the process and see the status?

Thanks for your great work!

[2022-03-05 10:53] dsarkar commented on #779
Hi @leif5672, so far we have no updates on this feature request.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-07 09:11] dsarkar commented on #739
@micha47259 This feature was implemented with release 2.18. We suggest closing this issue. Thanks for contributing here!

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-07 09:49] larswmh commented on #802
Thanks for your enhancement request @petkoe. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12148](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12148)

---
Corona-Warn-App Open Source Team

[2022-03-07 10:14] larswmh commented on #797
Thanks for your enhancement request @LJPLux. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12150](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12150)

---
Corona-Warn-App Open Source Team

[2022-03-07 11:42] Ein-Tim commented on #726
The travel rules have been updated and this issue can be closed now. https://timokoenig.github.io/eu-dcc-rules/?ruleset=eu-dcc-rules&country=DE&rule=VR-DE-0004

[2022-03-07 11:42] #726 closed, assigned to nobody

[2022-03-07 22:35] timokoenig commented on #812
Wie wäre es denn mit einem Archiv in dem alle abgelaufenen Zertifikate automatisch verschoben werden? So stören diese nicht im täglichen Gebrauch und gleichzeitig gibt es immer noch eine Historie aller Zertifikate.

[2022-03-08 09:32] stcz opened #814 "Security hardening against wormhole attacks"
Thanks for your great work on the CWA app.

We are a group of researchers from TU Braunschweig. As part of a research project, we have studied wormhole attacks against Corona contact tracing, especially on the Google and Apple Exposure Notification backend (GAEN). A paper of this research can be found [here](https://www.sec.cs.tu-bs.de/pubs/2022-codaspy.pdf). We want to share our findings with you

[2022-03-08 10:24] dsarkar commented on #814
Dear @stcz,

Thank you very much for your suggestions. We will forward this internally, Internal Tracking ID: [EXPOSUREAPP-12159](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12159).

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-08 10:30] stcz commented on #814
:heart: If you have any questions, feel free to contact us.

[2022-03-09 05:58] Ein-Tim commented on #814
@stcz

Did you also send your research to Apple / Google?

Point 1 & 3 must be implemented by them. Reg. Point 2, I'm unsure whether this can be implemented be the CWA team.

[2022-03-09 09:11] stcz commented on #814
Not jet. :see_no_evil:
I wanted to write the issue also to https://github.com/google/exposure-notifications-internals but this is not possible anymore. ~~Currently, I'm searching for the best way to get in contact with the Google Developers. If you have a hint for me I would be very glad.~~
I'm going to write them an E-Mail.

[2022-03-09 09:21] MikeMcC399 commented on #814
@stcz

Google used to have an e-mail address [exposure-notifications-feedback@google.com](mailto:exposure-notifications-feedback@google.com). I can't say if this is still active though.

[2022-03-09 10:34] larswmh commented on #641
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12174](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12174)

---
Corona-Warn-App Open Source Team

[2022-03-09 12:31] larswmh commented on #785
Thanks for your feature request @janhoffmann. As mentioned in the issue @Ein-Tim already linked, this has been declined in the past. Nonetheless, we still receive lots of requests about this. Therefore, I have linked your issue to our already existing internal ticket.
Internal Tracking ID: [EXPOSUREAPP-2068](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-2068)

---
Corona-Warn-App Open Source Tea

[2022-03-09 17:41] Ein-Tim commented on #759
PR for iOS: https://github.com/corona-warn-app/cwa-app-ios/pull/4320

[2022-03-11 11:15] Ein-Tim opened #815 "Reduce contact journal amount of days stored to 10"
## Current Implementation
I can see today + the last 15 days in the contact journal.

## Suggested Enhancement
Reduce the days stored to today + 10.

## Expected Benefits
Be consistent with the check-in & exposure logging feature.

Background: https://github.com/corona-warn-app/cwa-app-ios/pull/4324

Ping @thomasaugsten, is this planned?

---
Internal Tracking ID: [EXPOSUREAPP-12221](https://jira-

[2022-03-11 16:05] MikeMcC399 commented on #705
- I can see this enhancement request addressed in CWA Android 2.19.x through PR https://github.com/corona-warn-app/cwa-app-android/pull/4858. This is included in [v2.19.0-rc.1](https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.19.0-rc.1).

[2022-03-13 14:08] Ein-Tim opened #816 "Pop up shown when already showing increased risk and another increased risk encounter is detected should have a "Bring me to the Journal" button"
## Current Implementation
As you can see in https://github.com/corona-warn-app/cwa-app-ios/pull/4320, the only button will be "OK".

## Suggested Enhancement
Add another button "Open the Journal".

## Expected Benefits
Users tend to just click on "OK" on pop ups where no other action is available, as they are sure this has no important information. Adding another button thus leads to more users re

[2022-03-14 08:49] mucneko opened #817 "Family Account"
## Feature description

Anlegen/managen eines Gruppenaccounts mit mehreren, zusammengehörigen Personen. (Impfzertifikate, Tests, positive Tests angeben/warnen)

Idee: alles, wie gehabt, nur eine Gruppe 'drüberlegen'.

## Problem and motivation

Familien sind oft gemeinsam unterwegs. Die Kinder haben aber idR keine eigenen Handys (und damit auch keine eigene CWA), sind aber im Familienverband mit u

[2022-03-14 08:58] larswmh commented on #816
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12220](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12220)

---
Corona-Warn-App Open Source Team

[2022-03-14 09:45] larswmh commented on #815
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12221](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12221)

---
Corona-Warn-App Open Source Team

[2022-03-14 12:35] Ein-Tim commented on #806
There are more and more users reporting on Twitter that they get warned form their CWA because neighbors have been tested positive.
I'm one of the users affected & I have to admit that, after assessing my risk and knowing that I had no contact to the infected neighbors, I'm just ignoring the warning.

Archiving it would be quite nice, as I would then receive a push notification if there is another

[2022-03-14 18:13] Ein-Tim commented on #776
iOS 15.4 is now officially released to the public.

@timokoenig have you seen any documentation being published reg. this?

[2022-03-14 18:46] Kamik423 commented on #776
While not official documentation it can at least be easily and cheaply achieved like this (undocumented)

https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/126#issuecomment-1024116883

The actual documentation is here: https://developer.apple.com/news/?id=7h3vwlh5

The API is here: https://developer.apple.com/documentation/healthkit/hkfhirresourcetype/2980681-immunization

[2022-03-14 19:27] timokoenig commented on #776
In general HealthKit allows an app to save additional data. Not sure if this is also true for Smart Health Cards but the team could test this. At least a button or a hint should be an easy solution.

[2022-03-15 07:27] Ein-Tim commented on #787
@MWandtke

Möchtest du diesen Issue schließen?

cc @dsarkar

[2022-03-15 07:28] Ein-Tim commented on #780
@dsarkar

Could you close this issue please?

[2022-03-15 07:38] #787 closed, assigned to nobody

[2022-03-15 08:54] hfhbd commented on #646
The latest version of iOS (15.4) supports EU Covid 19 certificates:
[code]

It also does not show any cards in Wallet at the (locked) lock screen, only when unlocked.
![IMG_1121](https://user-images.githubusercontent.com/22521688/158341213-13d52b52-50cf-4170-8b4d-1d3d8dd05d84.PNG)

[2022-03-15 08:56] dsarkar commented on #780
@Eisdaemon Danke für den Vorschlag. Wir haben diesen Vorschlag schon mehrmals erhalten, z.b. https://github.com/corona-warn-app/cwa-wishlist/issues/762 oder https://github.com/corona-warn-app/cwa-wishlist/issues/746. Bitte weitere Diskussionen dort weiterführen.

Internal Tracking ID: [EXPOSUREAPP-11435](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11435)

Best wishes, DS

---
Corona-Warn-App O

[2022-03-15 08:56] #780 closed, assigned to nobody

[2022-03-15 09:05] Ein-Tim commented on #755
@dsarkar Can this be closed?

[2022-03-15 10:57] Ein-Tim commented on #768
schnelltesttest.de is now referred to in https://coronawarn.app/en/faq/#schnelltesttest.

[2022-03-15 15:41] Ein-Tim commented on #777
iOS PR addressing this problem: https://github.com/corona-warn-app/cwa-app-ios/pull/4336

[2022-03-15 18:40] Ein-Tim commented on #793
So, here is the best argument to not implement anything like this: https://www.tagesschau.de/inland/corona-bundeslaender-109.html

@FreeCovid Would you like to close this issue? Without an exact date which is kept no matter what happens, this could be implemented. But as there is no such a date and different federal states act different, this is impossible to implement.

cc @dsarkar

[2022-03-16 11:48] Ein-Tim commented on #777
Android PR: https://github.com/corona-warn-app/cwa-app-android/pull/4938

[2022-03-16 17:50] MagnusOstertag commented on #748
It's solved, nice!

[2022-03-16 17:50] #748 closed, assigned to nobody

[2022-03-16 18:40] eltos opened #857 "Button to increase brightness for QR certificate tab"
When presenting a QR code to be scanned (e.g. during entrance control), the screen brightness might be insufficient and has to be increased for the scan to succeed.

## Current Implementation
The user has to increase screen brightness from the OS settings. In corona-warn-app/cwa-app-android#4606 an improvement was suggested and meanwhile implemented, which increases the screen brightness when the

[2022-03-17 08:05] dsarkar commented on #748
Hi @MagnusOstertag,

thanks for reporting here and your feedback. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-03-17 13:28] Ein-Tim commented on #200
FYI: It seems like there is something planned for 2.21: https://github.com/corona-warn-app/cwa-app-android/pull/4947

@dsarkar Could you reopen this issue & apply the `Fix 2.21` label?

[2022-03-17 13:28] Ein-Tim commented on #709
FYI: It seems like there is something planned for 2.21: https://github.com/corona-warn-app/cwa-app-android/pull/4947

[2022-03-17 13:29] Ein-Tim commented on #109
FYI: It seems like there is something planned for 2.21: https://github.com/corona-warn-app/cwa-app-android/pull/4947

@dsarkar Could you reopen this issue & apply the `Fix 2.21` label?

[2022-03-17 13:31] MikeMcC399 commented on #859
For example on an unfolded 8" fold-out device the Data Privacy model's head is cut off:

![image](https://user-images.githubusercontent.com/66998419/158818952-d8520439-5b0a-467d-944f-f536bbe989b3.png)

Compare this with the display in flipped (folded) state:

![image](https://user-images.githubusercontent.com/66998419/158819209-0e038fc7-22ff-4373-bb14-dee6bb9de6a6.png)

[2022-03-17 13:33] MikeMcC399 commented on #859
@dsarkar
This doesn't seem to have been mirrored to Jira. Would you like to do this please?

[2022-03-17 15:42] Ein-Tim commented on #785
FYI: Seems like it will be possible to register the tests of others with version 2.21: https://github.com/corona-warn-app/cwa-app-android/pull/4947

[2022-03-18 09:59] larswmh commented on #857
Thanks for your enhancement request @eltos. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12360](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12360)

---
Corona-Warn-App Open Source Team

[2022-03-18 11:10] wireva opened #825 "Less generic notification"
## Avoid duplicates
* [x] This enhancement request has not already been raised before
* [x] Enhancement request is specific for Android only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [x] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-

[2022-03-19 12:05] MikeMcC399 commented on #806
I support this wishlist item! I would like to be able to dismiss red warnings which are irrelevant.

The FAQ article [Why do I receive a risk warning for a date when I had no contacts / did not leave the house?](https://www.coronawarn.app/en/faq/#risk_encounter_doubted) explains how false positive exposure risk warnings can occur.

Especially for the situation where somebody knows they had no cont

[2022-03-19 13:40] Ein-Tim commented on #796
The feature is included in version 2.19.0, however, it has been deactivated server-side:  https://github.com/corona-warn-app/cwa-app-ccl/pull/47

I'm closing this issue now, which does not mean I'm not interested in the statement @GisoSchroederSAP announced.

[2022-03-19 13:40] #796 closed, assigned to nobody

[2022-03-19 16:15] symbolisch1234 commented on #443
@dsarkar i do not want to be over-demanding, but could you say what "Story internally set to high priority", as you wrote 11 months ago, actually means?

Can I expect this to be dealt with at any time, or is this abandoned?

Thanks for all your work with the app, but regarding this high priority issue I'd very much appreciate some form of a status update. I can't use the app and would like to know

[2022-03-20 10:42] Ein-Tim commented on #793
Tomorrow is the 21st march, this feature was not yet implemented and nothing meaningful will happen tomorrow.

I can only again suggest to close this issue.

[2022-03-20 12:32] MikeMcC399 commented on #793
- In the current [RKI weekly report](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/Wochenbericht/Wochenbericht_2022-03-17.pdf?__blob=publicationFile) (German only) it says: "Grundsätzlich sollten auch weiterhin Kontakte nach Möglichkeit reduziert werden. Sofern Kontakte
nicht gemieden werden können, sollten sie auf einen engen Kreis von Personen beschränkt werden,

[2022-03-20 13:22] ZarVladimirII commented on #825
Agree, for changes in the certificate it took always a second or third look to know what the notification is about.

[2022-03-21 15:50] validev opened #818 "Bestätigung für Geburtsdatum bei Testregistrierung"
## Feature description

Die Geburtsdatumsabfrage nach dem Scan eines Test-QR-Codes wird per Rückfrage bestätigt.

## Problem and motivation

Nachdem der QR-Code für einen Test gescannt wurde, wird das Geburtsdatum abgefragt. Eine Fehleingabe kann im Nachhinein nicht korrigiert werden. Wenn hier ein Fehler gemacht wird, ist ein negatives Testergebnis für den Benutzer nicht verwendbar. Daher ist ein

[2022-03-22 09:30] torgeros opened #819 "Possibility to scan an image for a QR code via "Share""
## Feature description

The goal of this feature request is to make scanning a test result quicker and easier.

The process of registering a new test currently is as follows (at least for me):
1. receive email with test result as pdf file
2. open the pdf file (and enter the password if needed)
3. take a screenshot
4. close the "screenshot taken" popup/notification because I do not need it
5. open

[2022-03-25 15:20] TillJohanndeiter commented on #619
Is this feature still relevant? I would like to work on the android implementation

[2022-03-25 15:53] Ein-Tim commented on #504
This has been implemented (at least under iOS).

<img src="https://user-images.githubusercontent.com/67682506/160155693-b4556138-fd0a-48c8-b7b4-62fcd4450593.png" width="300">

[2022-03-27 21:42] fynngodau commented on #619
@TillJohanndeiter It still seems like a good addition to me!

Management around the official Corona-Warn-App can be very slow with deciding whether or not they want a certain feature even if the pull requests are available, so it's better not to start working unless official confirmation is available.

But if you are interested and do want to start working on this right away, I would definetly mer

[2022-03-28 09:09] Ein-Tim commented on #504
@MarcoSteinke Would you like to close this issue?

[2022-03-28 09:37] MikeMcC399 commented on #504
@Ein-Tim
Do you think this is implemented in CWA Android? I cannot see it there. I only see "Add Entry" on Android (CWA 2.19.2).

[2022-03-28 10:46] Ein-Tim commented on #504
@MikeMcC399

Oh sorry, I didn't check Android. The corresponding Android PR https://github.com/corona-warn-app/cwa-app-android/pull/4685 is still in draft mode.

[2022-03-29 14:21] Ein-Tim commented on #843
@dsarkar Can this issue be moved to the documentation repo as it also affects iOS?

[2022-03-31 09:57] MikeMcC399 opened #820 "Loss of vaccination status (IfSG) - remind before Oct 2022"
## Current Implementation

People who have had only two vaccinations are recommended by CWA to get a booster vaccination, however there is no warning in the app that they will lose their full vaccination status after Sep 30, 2022.

## Suggested Enhancement

Consider all cases listed in the [Infektionsschutzgesetz - IfSG](https://www.gesetze-im-internet.de/ifsg/BJNR104510000.html) § 22a "Impf-, Gen

[2022-03-31 19:23] MikeMcC399 commented on #790
It's annoying to have to exit the Increased Risk details screen, where the contact journal is mentioned, in order to access the Journal tab in the bottom navigation bar.

As this wishlist item says, it would be useful to be able to click on "contact journal" directly from the text.

[2022-04-01 13:20] Ein-Tim commented on #715
There is no combined view but since version 2.16 there is a combined view of certificates. See the blog post: [Corona-Warn-App version 2.16 shows users’ current status evidence](https://www.coronawarn.app/en/blog/2022-01-17-cwa-2-16/)

[2022-04-01 13:29] Ein-Tim opened #821 "Request EU digital COVID certificate of recovery directly via the app if a positive PCR test is registered"
## Feature description

It should be possible to request an EU digital COVID certificate of recovery directly via the Corona-Warn-App if a positive PCR test is registered in the app.
The process would be similar to the one which is already implemented for providing an EU digital COVID test certificate for a negative PCR or rapid antigen test to the user.

### User story

1. User gets tested at a t

[2022-04-01 13:30] MikeMcC399 commented on #715
CovPassCheck includes serial scanning, which does not answer the wishlist of a combined QR code but it was mentioned in https://github.com/corona-warn-app/cwa-wishlist/issues/715#issuecomment-992719114.

For instance, in CovPassCheck, select 2G+ and scan a 2/2 vaccination certificate, it then opens a screen ready to scan a test or recovery certificate.

[2022-04-01 13:33] Ein-Tim commented on #337
@dsarkar Would you like to add #602 to your overview of overviews? :D

[2022-04-02 08:24] Ein-Tim commented on #759
@tmechen

Would you like to close this issue as this was implemented in version 2.20?

[2022-04-02 09:01] #759 closed

[2022-04-02 11:21] MikeMcC399 commented on #815
The [CWA 2.20 announcement](https://www.coronawarn.app/en/blog/2022-03-30-cwa-2-20/) says:

"**Display of increased risk shortened from 14 to 10 days**

Furthermore, as of version 2.20, the CWA only looks at the last 10 days for calculating the risk of infection and not the last 14 days as before. This is in line with current quarantine specifications. A red tile therefore automatically turns gree

[2022-04-02 17:17] Ein-Tim opened #822 "Exportable PDF/certificate for positive test results"
## Feature description

Version 2.21 will offer the feature to request test results from other family members via the Corona-Warn-App.

To avoid confusion, CWA will show the name of the person tested next to the test result.

If the test is positive, it should be possible to create an exportable PDF, which includes the following information:
- Date of test registered in the CWA
- Date of test resu

[2022-04-03 23:19] molarya1 commented on #479
Hi @dsarkar @heinezen @Ein-Tim have any/all of these issues been attended to? If not, please do let me know, I'd love to take initiative here and take a crack at these :)

[2022-04-04 06:27] Ein-Tim commented on #479
@molarya1

You can certainly tackle these issues if you have the knowledge to. Just write a comment in the corresponding issue, so that we know you are working on this.

[2022-04-04 07:43] larswmh commented on #818
Thanks for your feature request @validev. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12596](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12596)

---
Corona-Warn-App Open Source Team

[2022-04-04 08:37] larswmh commented on #819
Thanks for your feature request @torgeros. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12601](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12601)

---
Corona-Warn-App Open Source Team

[2022-04-04 12:01] dbaldes opened #858 "certificate identifier is limited to maxLength 80 but no limit specified"
The JSON Schema limits the "ci" - certificate identifier field to 80 characters:

https://github.com/corona-warn-app/cwa-app-android/blob/1c73bc563d523f667b2bce8cc91a668d668ff150/Corona-Warn-App/src/main/assets/jsonschema-dcc-ebb6720.json#L139

My certificate (issued by Thailand) has an 81 character CI. Hence, validation fails with a JSON-schema error.

Looking at the spec (referenced in above JSO

[2022-04-04 12:06] dsarkar commented on #858
Hi @dbaldes,

Thanks for the question. We will try to get you an answer ASAP. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-04 12:08] dbaldes commented on #858
Thanks. just to clarify: my certificate is supposed to be valid in the EU (and other countries).

[2022-04-04 12:19] MikeMcC399 commented on #858
@dbaldes

I'm sure that @dsarkar will be consulting with the experts. I just happened to notice in the json you quoted
https://github.com/corona-warn-app/cwa-app-android/blob/1c73bc563d523f667b2bce8cc91a668d668ff150/Corona-Warn-App/src/main/assets/jsonschema-dcc-ebb6720.json#L136-L139

the document https://ec.europa.eu/health/sites/health/files/ehealth/docs/vaccination-proof_interoperability-guide

[2022-04-04 12:27] thomasaugsten commented on #858
You can find the original schema defintion from the EU here
https://github.com/ehn-dcc-development/ehn-dcc-schema/blob/178c59b82726449311ecf4b007d0db80e8f72fdc/DCC.Core.Types.schema.json#L67

I will address the issue in the EU and the Thailand representative

@dbaldes maybe you can provide an example uvci from thailand with fake data

[2022-04-04 12:44] dbaldes commented on #858
@thomasaugsten my decoded certificate identifier looks like this (this is fake data):

`"ci" : "URN:UVCI:01:TH:0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDE#O"`

[2022-04-04 13:02] larswmh commented on #821
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12609](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12609)

---
Corona-Warn-App Open Source Team

[2022-04-05 00:28] dbaldes commented on #858
I just found that the greenpassapp.eu app also recognizes my certificate as valid. And my wife's certificate (also Thai-issued) has the same problem. If needed, I can provide my real certificate via a private channel.

[2022-04-05 05:34] MikeMcC399 commented on #858
@dbaldes

Did you get the same failure on the German [CovPass](https://play.google.com/store/apps/details?id=de.rki.covpass.app&hl=en) App?

I checked my German vaccination certificate decoded on https://github.pathcheck.org/debug.html and the `ci` uses 48 characters.

[2022-04-05 06:13] dbaldes commented on #858
@MikeMcC399  it does work in the CovPass app.

A side note, the CovPass, CovPassCheck and Corona Warn Apps are not available to download via the play store here in Thailand. ("this item is not available in your country"). I had to install them by downloading an APK.

[2022-04-05 06:20] MikeMcC399 commented on #858
@dbaldes

That should give you a workaround in that case.

Unfortunately the app store country availability is driven by legal considerations which do not take much account of individual circumstances. It's good that you know your way around obtaining and installing APKs. 🙂

[2022-04-05 09:18] larswmh commented on #822
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12624](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12624)

---
Corona-Warn-App Open Source Team

[2022-04-05 12:24] Ein-Tim commented on #785
FYI: Seems like with version 2.21 you will be able to create more than one RAT profile: https://github.com/corona-warn-app/cwa-app-android/pull/5048

[2022-04-05 12:26] MikeMcC399 commented on #820
This wishlist item affects the repositories:

- [Corona Warn App - Common Covid Logic (CCL)](https://github.com/corona-warn-app/cwa-app-ccl)
- [Digital COVID Certificates: Booster Notification Rules - Translation](https://github.com/corona-warn-app/dcc-rule-translation)

[2022-04-07 12:20] MikeMcC399 commented on #406
- PR https://github.com/corona-warn-app/cwa-app-android/pull/4719#issuecomment-1091651019 has been declined now.

[2022-04-08 03:10] dbaldes commented on #858
It would be useful to offer the APK for download on the official website.

[2022-04-08 06:44] MikeMcC399 commented on #858
@dbaldes

- The FAQ article [[Google/Android]: The app isn’t available as an APK, neither on GitHub nor on F-Droid etc. Will you also deliver the app as an APK?](https://www.coronawarn.app/en/faq/results/#apk) provides the official statement about this.  I may be wrong, but I don't expect this to change.

- The FAQ article also references https://github.com/corona-warn-app/cwa-wishlist/issues/57.

[2022-04-08 10:52] dsarkar commented on #785
Internal Tracking ID: [EXPOSUREAPP-12456](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12456) Android
Internal Tracking ID: [EXPOSUREAPP-12372](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12372) iOS

[2022-04-12 11:48] jkrwdf opened #823 ""Certificate Grouping" based on NON-standardized names ("nam/fn" and "nam/gn") instead of standardized names"
## Current Implementation
The grouping of multiple certificates for the same subject (e.g. multiple vaccination certificates, but also vaccination and test certificate for 2G+) is currently based on

- Date of Birth (dob)
- Standardized Surnames (nam/fnt)
- Standardized Forenames (nam/gnt).

Especially when rapid-tests (RAT) are involved, the data of "nam/fnt" and "nam/gnt" are manually input in s

[2022-04-18 09:46] alexander-n8hgeg5e commented on #374
I am referring to [the issue 5092 i created, essentially the the same topic as this wishlist item](https://github.com/corona-warn-app/cwa-app-android/issues/5092)
Somehow it could work like this: A report about a positive self-test goes into the calculation with a lower probability of infection (lower risk), in order to take account for the expected rate of fake reports.
The factor could be adjust

[2022-04-18 11:50] Ein-Tim opened #824 "Implement check for domestic rules into CWA (Align to CovPass)"
## Current Implementation
CWA does not offer to check the domestic rules for Germany, while CovPass offers to do this.

## Suggested Enhancement
Make it possible to check the domestic rules for Germany with CWA, so that users don't have to download CovPass just for this.

## Expected Benefits
CWA users have the same features as CovPass users.

[2022-04-18 12:16] thomasaugsten commented on #824
Domestic rules a included in the G status no explicit domestic rule check is necessary

[2022-04-18 12:19] Ein-Tim commented on #824
@thomasaugsten So CovPass only included this because it doesn't have the G status / CCL feature?

[2022-04-18 13:08] thomasaugsten commented on #824
CovPass use this to show the different rule compared to the German EU-rules

[2022-04-18 13:10] Ein-Tim commented on #824
@thomasaugsten Okay, makes sense. Closing.

[2022-04-18 13:10] #824 closed, assigned to nobody

[2022-04-19 08:32] Ein-Tim commented on #623
This has been implemented in version 2.21: [Corona-Warn-App Version 2.21 now allows test management for family members](https://www.coronawarn.app/en/blog/2022-04-19-cwa-2-21/).

I'm closing this issue as implemented now.

[2022-04-19 08:32] #623 closed

[2022-04-19 08:33] Ein-Tim commented on #200
FYI: This has been implemented with version 2.21: [Corona-Warn-App Version 2.21 now allows test management for family members](https://www.coronawarn.app/en/blog/2022-04-19-cwa-2-21/).

[2022-04-19 08:33] Ein-Tim commented on #109
FYI: This has been implemented with version 2.21: [Corona-Warn-App Version 2.21 now allows test management for family members](https://www.coronawarn.app/en/blog/2022-04-19-cwa-2-21/).

[2022-04-19 08:34] Ein-Tim commented on #709
FYI: This has been implemented in version 2.21: [Corona-Warn-App Version 2.21 now allows test management for family members](https://www.coronawarn.app/en/blog/2022-04-19-cwa-2-21/).

[2022-04-19 08:40] dlemm commented on #200
Awesome. Thank you for your update

[2022-04-19 08:43] Ein-Tim commented on #200
You're very welcome @dlemm! Would you like to close this issue now?

[2022-04-19 12:41] Ein-Tim commented on #777
This has been fixed in version 2.20 and should be closed now @heinp.

[2022-04-19 14:58] dsarkar commented on #109
Dear @HolgerJeromin, dear community, thanks for participating here. This feature has been implemented. We therefore close this issue.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-19 18:06] joernpeller commented on #709
Great! Thanks for implementing this functionality!

[2022-04-19 18:08] Ein-Tim commented on #709
@joernpeller Could you close this issue now, please?

[2022-04-19 18:27] joernpeller commented on #709
Done

[2022-04-19 18:27] #709 closed, assigned to nobody

[2022-04-19 19:21] #777 closed

[2022-04-20 13:19] MikeMcC399 commented on #164
- The outcome of this request lies with Google and is out of the influence scope of CWA.
- The feedback from the CWA Open Source Team indicated that Google would not change and this feedback is now more than a year old.

Closing as unlikely to be implemented.

[2022-04-20 13:19] #164 closed

[2022-04-20 14:06] dsarkar commented on #164
@MikeMcC399 Thank you for your assessment, internal ticket updated with your assessment.

[2022-04-20 16:16] janhoffmann commented on #785
@Ein-Tim I don't think so. The only update is that you can register more tests.

To allow a fast registration without manual input, it would be as important to have multiple profiles, I can't see that on my Android device with 2.21.1

[2022-04-20 16:17] janhoffmann commented on #785
@dsarkar you tagged it with fix 2.22, when do you expect that version?

[2022-04-20 16:19] Ein-Tim commented on #785
@janhoffmann

Multiple RAT profiles will be possible in 2.22. Release will probably be ca. 2-3 weeks from now.

_Disclaimer: This is only a guess._

[2022-04-21 09:45] MikeMcC399 commented on #387
@dsarkar

According to your previous comments in https://github.com/corona-warn-app/cwa-wishlist/issues/387#issuecomment-1042685398 the enhancement request is not fulfilled.

I checked in the CWA 2.21 release and there has been no change.

In this case, the labels "Fix 2.15" and "ready to close" should be removed.

[2022-04-21 09:50] MikeMcC399 commented on #96
@dsarkar

This issue has the label "ready-to-close" attached to it and the comment https://github.com/corona-warn-app/cwa-wishlist/issues/96#issuecomment-881597049 from @Ein-Tim answers the issues as they were originally described.

Is there some reason this issue is still open or can it be closed?

[2022-04-21 10:38] dsarkar commented on #785
@janhoffmann @Ein-Tim As usual, following the usual pattern, this is what you can expect, however, things might change.

[2022-04-21 10:48] dsarkar commented on #96
@MikeMcC399 Thanks for pinging me. I usually leave it to the author to close the issue. In this case, it has been a long time, so we can close that one.

[2022-04-21 10:48] #96 closed

[2022-04-22 15:32] Ein-Tim commented on #855
@dsarkar Any update on this issue? Should this maybe be transferred to the wishlist as a wish to translate the app into another language?

[2022-04-23 13:08] Ein-Tim commented on #279
I think this issue can be closed now, or?

[2022-04-23 13:09] Ein-Tim commented on #388
This issue should be closed now.

[2022-04-23 13:30] Ein-Tim commented on #616
I step back from this enhancement request.

[2022-04-23 13:30] #616 closed

[2022-04-23 15:09] Ein-Tim commented on #534
With version 2.21 the countup/timestamp was removed, the view was aligned to PCR tests results.

Closing.

[2022-04-23 15:09] #534 closed

[2022-04-24 08:35] #388 closed

[2022-04-25 06:04] larswmh commented on #825
Thanks for your enhancement request @niwla23. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12909](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12909)

---
Corona-Warn-App Open Source Team

[2022-04-25 06:10] Ein-Tim commented on #825
This also affects iOS and should be moved to the wishlist.

[2022-04-25 06:25] larswmh commented on #823
Thanks for your enhancement request @jkrwdf. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12910](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12910)

---
Corona-Warn-App Open Source Team

[2022-04-25 06:33] MikeMcC399 commented on #825
@larswmh

I seem to remember that the text in notifications is deliberately non-specific because the notification could be read by somebody other than the device owner. The non-specific message leads to a specific message in the app. The latter can only be read by unlocking the phone, which ensures that only the intended recipient can read the detailed information. The reason behind CWA notificati

[2022-04-25 18:04] wireva commented on #825
How is this health data? The app shows a potential risk of being infected because you were in the same room as an infected person.
If someone actually cares they probably won't have notification content enabled on lock screen. I understand that you should not show the result of a covid **test** in the notification (though I don't think anyone would care). How could showing a risk status in the not

[2022-04-25 18:39] MikeMcC399 commented on #825
@niwla23

This is the official legal definition according to the [Data Protection Impact Assessment / (Bericht zur Datenschutz-Folgenabschätzung für die Corona-Warn-App)](https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf):

"7.1.4 Gesundheitsdaten

Gesundheitsdaten sind personenbezogene Daten, die sich auf die körperliche oder geistige Gesundheit einer natürlichen

[2022-04-26 06:14] MikeMcC399 commented on #825
Perhaps there could be a way to relax the strict health data protection imposed by the app if the user says that they do not want this applied? That would however make the app more complicated if an option is added for this purpose. It could also be problematic considering that the app can store data (tests and certificates) for multiple named people and each person would have to give their permis

[2022-05-02 12:26] dsarkar commented on #705
@SoWhy Thanks for creating this wishlist item. See comment https://github.com/corona-warn-app/cwa-wishlist/issues/705#issuecomment-1065251745. With the implementation of a fault tolerant name handling in version 2.19 we would suggest closing this issue. Best wishes, DS

---
Corona-Warn-App Open Source Team
 [EXPOSUREAPP-11617](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11617)
 [EXPOSUREAPP-11

[2022-05-02 13:25] dsarkar commented on #754
@kroerig  Thanks for creating this wishlist item. With the implementation of a fault tolerant name handling in version 2.19 we would suggest closing this issue. Best wishes, DS

---
Corona-Warn-App Open Source Team
 [EXPOSUREAPP-11617](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11617)
 [EXPOSUREAPP-11618](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11618)

[2022-05-04 20:08] Ein-Tim commented on #817
This issue is over one month old and there was no feedback from the Open-Soruce-Team. It was not even mirrored to JIRA.

[2022-05-04 20:09] Ein-Tim commented on #820
Please mirror this issue to JIRA @dsarkar / @larswmh.

[2022-05-05 07:30] larswmh commented on #820
Thanks for your enhancement request @MikeMcC399. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13008](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13008)

---
Corona-Warn-App Open Source Team

[2022-05-05 08:48] larswmh commented on #817
Thanks for your feature request @mucneko. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13010](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13010)

---
Corona-Warn-App Open Source Team

[2022-05-05 10:59] mucneko commented on #817
Thank you, 2.21 / 2.22 has mostly what I wanted to have.

I'll close this Case and thank you for support.

[2022-05-05 10:59] #817 closed, assigned to nobody

[2022-05-05 11:30] larswmh commented on #671
Closing this ticket as this was implemented in version 2.19 of the Corona-Warn-App.
See [FAQ](https://www.coronawarn.app/en/faq/results/#cert_fault_tolerant_name_handling) or [Blog](https://www.coronawarn.app/en/blog/2022-03-16-cwa-2-19/)

---
Corona-Warn-App Open Source Team

[2022-05-05 11:30] #671 closed, assigned to nobody

[2022-05-05 14:13] dsarkar commented on #817
Hi @mucneko, thanks for your feedback. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-05-06 20:09] prototyperspective commented on #379
How to warn using a (or two) positive rapid test (15 minute test)? In the app there are only two buttons for reporting a positive PCR test. There also is no QR code in the PDF with the results.

However, the link above has:

So it should either be possible by now or planned. Where is the issue about this? I intended to create an issue in the wishlist asking about it, but now it seems like such an

[2022-05-07 14:54] MikeMcC399 commented on #685
@Ein-Tim

This item has been implemented. See https://www.coronawarn.app/en/blog/2022-02-02-cwa-2-17/ announcement for CWA 2.17 released on Feb 2, 2022.

[2022-05-07 14:58] MikeMcC399 commented on #785
@janhoffmann

CWA 2.22 was released on May 4, 2022 with your requested functionality. See https://www.coronawarn.app/en/blog/2022-05-04-cwa-2-22/.

Please check if this is what you expected and close this request if the implementation fits your needs.

[2022-05-07 15:00] Ein-Tim commented on #685
Thanks for the reminder @MikeMcC399!

Closing this issue.

[2022-05-07 15:00] #685 closed

[2022-05-07 22:01] ndegendogo commented on #379
@prototyperspective our local test center can issue a QR code for the cwa. I tell them before the test, then they include the code in the pdf with the result, or they give me a printed QR.
And when I scan this with cwa, I get the dialog if I want to share my keys in case of a positive result.

There was a time when all test centers were required to support QR codes for cwa. So you can try and ask

[2022-05-08 15:46] prototyperspective commented on #379
But that's too late. How could you know before getting the result?
It has to be included in the result without asking for it. And people aren't and shouldn't be going back to the test station when they get a positive test result, but stay or go home. If it's that simple to include it and was required in the past, why aren't they all doing it?

_If_ this app is intended to be used, people need to a

[2022-05-08 17:51] Ein-Tim commented on #379
@prototyperspective To be able to warn in the CWA using a positive rapid antigen test, your test has to be performed at a testing station which is connected to the CWA system. An overview (map) is available here: https://map.schnelltestportal.de

[2022-05-08 20:21] ndegendogo commented on #379
@prototyperspective I think there is a misunderstanding. Our local test center supports cwa. I tell them that I want a cwa code when I register for the test.

[2022-05-08 20:29] ndegendogo commented on #379
@prototyperspective
Please ask them. I think that many of the test centers are indeed connected, and these are able to issue the QR code for cwa.

Usage of cwa is voluntary, and has always been. There could be people who don't use cwa, and who don't want their result to be sent to the RKI server. For this reason they issue the QR code for cwa only on request.

[2022-05-09 08:49] #785 closed

[2022-05-10 14:18] jkrwdf opened #826 "Re-Add button "Scan Test" in the (new multiple-)"Rapid Test Profiles" page"
## Current Implementation
With one of the recent updates, CWA can manage multiple Rapid Test Profiles instead of a single one.

Formerly: When you clicked on "Manage Your Tests / Rapid Test Profile", you had a screen to present the (only) QR code and this screen had a button "Scan Test" (which is in my daily routine the immediate action after presentation).

Now: "Rapid Test Profiles" shows the av

[2022-05-10 15:52] Ein-Tim commented on #826
I rather suggest to change the text of the button from "Weiter" to "QR-Code-Scanner öffnen".

[2022-05-10 16:28] jkrwdf commented on #826
On the screen that I am referring to, there is no "Weiter", that's the point. Formerly, on that screen there was directly the button to scan the test.

![Screenshot_20220510-182214](https://user-images.githubusercontent.com/5329491/167677419-360c5579-2db3-490f-b2e4-cf872f00091c.jpg)

[2022-05-10 16:58] Ein-Tim commented on #826
Ah, I see @jkrwdf. Thanks oft the screenshot!

[2022-05-11 06:22] larswmh commented on #826
Thanks for your enhancement request @jkrwdf. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13080](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13080)

---
Corona-Warn-App Open Source Team

[2022-05-13 19:47] Ein-Tim commented on #820
@mlenkeit

Hey Maximilian, I hope it is OK to ping you on this issue! I think this issue should be assigned internally with a higher than normal (whilst issue) priority. It seems like a very sense full request and CWA should be made ready for such an reminder, e.g. by using Booster Notification Rules, as soon as possible, both to make sure that this feature actually makes it into the app & to ensu

[2022-05-19 11:55] pkreissel opened #827 "CWA should enable contact tracing for Monkeypox Virus"
## Current Implementation

CWA only enables contact tracing of SARS 2.

## Suggested Enhancement

On positive Test with monkeypox patients should be able to upload their test results and warn their contacts in the past weeks.

## Expected Benefits

Often monkeypox is diagnosed in late stage, which makes it all the more crucial to have a log of potential contacts. They could then report for testing

[2022-05-19 11:57] Ein-Tim commented on #827
CWA uses the COVID-19 exposure notification framework from Google & Apple. I don't think they'd allow such an extension.

[2022-05-19 12:00] pkreissel commented on #827
I See no reason why they wouldn't allow it. Of course it is not allowed yet, but I guess Apple and Google should agree that its a good idea.

[2022-05-19 12:03] pkreissel commented on #827
I guess it would even be possible right now to just "switch" to monkeypox contact tracing, the only thing that's not supported is parallel tracing for multiple viruses.

[2022-05-19 12:05] pkreissel commented on #827
But that would be a good thing even without considering monkeypox. E.g. we should have stronger warnings when someone has Delta-Variant in comparison to Omicron Variant. New variants might evolve in the next months that could also use this feature.

[2022-05-19 12:26] Ein-Tim commented on #827
@pkreissel

Sub-Variants of Sars-CoV-2 are no problem, stronger warnings for higher transmitsble varianst can be achieved by allowing laboratories to submit the type of variant together with the test result & then adjusting the warning parameters / risk mapping (another new feature proposal).

From what I am seeing Apple & Google seem to have lost interest in the GAEN framework and don't plan any

[2022-05-19 19:02] Ein-Tim opened #828 "Don't send expiring soon notification for certificates that are not currently used"
## Current Implementation
The app sends a notification to inform the user that a certificate is about to expire, regardless whether the certificate is the currently used one or not.

## Suggested Enhancement
Do **not** send this notification if the certificate about to expire is not the currently used one. There is no benefit for normal users from this notification and it causes confusion (e.g. do

[2022-05-19 19:14] thomasaugsten commented on #828
A deployment to disable the notification and banner is already prepared and will be deployed tomorrow

[2022-05-19 19:15] Ein-Tim commented on #828
@thomasaugsten Thanks for the information! Does this change disable the notifications forever or only until version 2.23 is released?

BTW: Do you have a link to the corresponding server PR? I only found https://github.com/corona-warn-app/cwa-server/pull/1824, which delays the notification for one day.

[2022-05-19 19:19] thomasaugsten commented on #828
This kind of notification. will be disabled forever only relevant certificate will send a push notification with 2.23
Its a configuration adjustment no server pr is needed here but we will sync the application yml after it is on production

[2022-05-19 19:23] Ein-Tim commented on #828
@thomasaugsten Okay, thanks for the information, so IIUC, my proposal will be implemented with version 2.23?

👍

[2022-05-19 19:24] thomasaugsten commented on #828
Correct

[2022-05-19 19:54] Ein-Tim commented on #828
Thanks for your fast responses @thomasaugsten.

@dsarkar I suggest to add the `Fix 2.23` label here.

[2022-05-20 08:30] #732 closed

[2022-05-20 15:17] Ein-Tim commented on #645
I consider this as fixed/implemented and I'll close this issue now.

[2022-05-20 15:17] #645 closed, assigned to nobody

[2022-05-21 22:57] Ein-Tim commented on #345
I suggest to close this issue now. It was not mirrored to JIRA, there was no further author feedback and it is a duplicate as pointed out by me @MikeMcC399 above.

[2022-05-23 13:43] dannylinden opened #829 "Build fork for "AWA - Affenpocken Warn App""
## Feature description

To be prepared for the upcoming Monkeypox pandemic I would suggest to build a fork of the CWA, maybe already with the pandemic as a "variable" to save some time, effort & costs in the future.

## Problem and motivation
Problem: Monkeypox pandemic
Motivation: Want to make sure we are better prepared then last time.

## Is this something you're interested in working on

Yes

[2022-05-23 14:12] Ein-Tim commented on #829
Related issue: https://github.com/corona-warn-app/cwa-wishlist/issues/827

---

Just a small suggestion from my side: I wouldn't overuse the word pandemic (which is defined as en epidemic spreading across a large region, continents or even worldwide, see [Wikipedia](https://en.wikipedia.org/wiki/Pandemic)), because it causes people to either overreact or people will say "Yeah, the next pandemic, w

[2022-05-23 14:17] Ein-Tim commented on #829
CWA would have to be completely changed from the basis, as according to the [RKI](https://www.rki.de/DE/Content/InfAZ/A/Affenpocken/Affenpocken-Ueberblick.html;jsessionid=65D88B75B689C222418DCE79F9EB0ADB.internet091#doc16732874bodyText1) monkeypox spreads very different than Sara-Cov-2:

RKI does not mention spread via Aerosole (main way of spread of Corona) currently.

You're definitely right tha

[2022-05-30 15:18] Ein-Tim commented on #662
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4598 fixes this under iOS.

@dsarkar Feel free to apply the `Fix 2.24` label here.

[2022-06-01 17:12] Ein-Tim commented on #828
Version 2.23 has been released. Closing this issue as implemented.

[2022-06-01 17:12] #828 closed, assigned to nobody

[2022-06-02 16:45] Ein-Tim opened #830 "Using "Stale Bot" for issue management"
## Current Implementation
Currently, especially in the wishlist but also in the documentation repository there are many very old issues which have no activity on them for a prolonged period of time (more than 6 months without any activity).

## Suggested Enhancement
Use the GitHub App "Stale Bot" which
a) asks if an issue is still relevant after a defined period of time / if this is still a reprod

[2022-06-03 05:12] DirtyHarry09 opened #831 "abgelaufene Zertifikate nicht verlängerbar"
Hallo,
ich habe die iOS App 2.23.1 installiert.
Ich habe drei Zertifikate, die ersten beiden laufen am 17.06. ab. Ich hatte eine Benachrichtigung der App erhalten, dass sie ablaufen, allerdings vor dem Erscheinen der neuen Version.
Trotzdem kann ich die beiden Zertifikate nicht verlängern.
Das ist doch aus meiner Sicht fehlerhaft. Oder kann man nur das aktuell verwendete Zertifikat (der 3. Impfung

[2022-06-03 05:24] Ein-Tim commented on #831
Hi Hartmut,

wie du schon richtig vermutest kann immer nur das aktuell verwendete Zertifikat verlängert werden.
Mehr Infos dazu gibt's im Blog: [CWA 2.23: Verlängerung von technisch abgelaufenen Zertifikaten in der CWA](https://www.coronawarn.app/de/blog/2022-06-01-cwa-2-23/)

"**Genesenenzertifikate** können immer technisch erneuert werden, wenn sie drohen abzulaufen. Bei **Impfzertifikaten** müs

[2022-06-03 06:44] dsarkar commented on #831
Hi @DirtyHarry09,

Wie @Ein-Tim richtig zitiert, genügt es in diesem Fall, dass nur das aktuell verwendetet Impfzertifikat (3. in diesem Fall) verlängert wird, um ausreichenden Impfschutz in der App zu dokumentieren. Für anderen abgelaufenen Zertifikate (das erste und zweite) empfiehlt es sich, diese nicht zu löschen sondern zu Dokumentationszwecken aufzubewahren.

Best wishes, DS

---
Corona-Warn

[2022-06-04 18:42] Ein-Tim opened #832 "Reissue certificates that are not currently used"
## Current Implementation
Currently, the app only offers to reissue the certificate of the currently used certificate.

## Suggested Enhancement
Make it possible to also reissue certificates which are not currently used. However, **don't** send a push notification if a certificate, which is not the currently used one, expires.

## Expected Benefits
There might be some use cases where users need al

[2022-06-05 09:05] dsarkar commented on #832
Hi @Ein-Tim, thanks for your suggestion. Currently, my understanding is that this is not necessary.
1. The upload of DCCs via the App (Verification services) is currently not being used.
2. A user can export expired certificates into pdf files and upload these. Uploading pdf files is be the common way to present theses docs beforehand.

[2022-06-05 09:44] Ein-Tim commented on #832
Hey @dsarkar, thanks for your answer!

That's good! The only question is, for example Lufthansa, do they verify the uploaded certificates or is it enough for them that there are certificates present, even if they might be technically expired.

This topic was originally brought up in out Community Slack channel: https://covidapps.slack.com/archives/C0194ML0MLN/p1654243873402289?thread_ts=1654100872

[2022-06-05 13:53] Ein-Tim commented on #684
This has been de-facto implemented with https://github.com/corona-warn-app/dcc-rule-translation. Therefore closing this issue.

[2022-06-05 13:53] #684 closed

[2022-06-05 13:58] Ein-Tim commented on #543
This was implemented with version 2.21 / 2.22.

[2022-06-05 13:58] #543 closed

[2022-06-05 14:06] Ein-Tim commented on #515
This bad UX is still in the app over one year after I opened this issue. It is still a valid issue, but the situation has improved as the user can restore tests from the recycle bin. I still think this would be an easy to implement thing and should be done. Thus leaving this issue open.

[2022-06-05 14:13] Ein-Tim commented on #588
@dsarkar I would like to give it a try and provide a PR for this item. Could you please cross-check what the internal status of this item is and come back to me?

Thank you!

[2022-06-05 14:33] Ein-Tim commented on #717
This issue is obsolete IMO, the app now shows a warning that it can't be used to verify certificates & refers to the CovPassCheck-App.

Here is a screenshot of the warning:
<img src="https://user-images.githubusercontent.com/67682506/172055669-ffbdd078-e6e7-48b3-9900-37e2ca350157.PNG" width="300">

Please close this issue.

[2022-06-05 14:34] Ein-Tim commented on #601
This issue is obsolete IMO, the app now shows a warning that it can't be used to verify certificates & refers to the CovPassCheck-App.

Here is a screenshot of the warning:
<img src="https://user-images.githubusercontent.com/67682506/172055669-ffbdd078-e6e7-48b3-9900-37e2ca350157.PNG" width="300">

Please close this issue.

[2022-06-05 14:35] Ein-Tim commented on #706
Changed my mind again, CWAs solution is fine.

[2022-06-05 14:35] #706 closed

[2022-06-05 14:35] Ein-Tim commented on #666
This issue is obsolete IMO, the app now shows a warning that it can't be used to verify certificates & refers to the CovPassCheck-App.

Here is a screenshot of the warning:
<img src="https://user-images.githubusercontent.com/67682506/172055669-ffbdd078-e6e7-48b3-9900-37e2ca350157.PNG" width="300">

Please close this issue.

[2022-06-05 15:07] Ein-Tim commented on #624
This issue was not even mirrored to JIRA. Please mirror it to JIRA, thanks.

[2022-06-05 15:14] Ein-Tim commented on #627
This issue is nearly 10 months old and was never mirrored to JIRA. Please mirror it to JIRA now.

[2022-06-05 15:14] Ein-Tim commented on #629
This issue is nearly 10 months old and was never mirrored to JIRA. Please mirror it to JIRA now.

[2022-06-05 15:15] Ein-Tim commented on #633
This issue is nearly 10 months old and was never mirrored to JIRA. Please mirror it to JIRA now.

[2022-06-05 15:15] Ein-Tim commented on #634
This issue is nearly 10 months old and was never mirrored to JIRA. Please mirror it to JIRA now.

[2022-06-05 15:18] Ein-Tim commented on #642
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:19] Ein-Tim commented on #540
There meanwhile is the [Science Blog 5](https://www.coronawarn.app/de/science/2022-03-03-science-blog-5/) which analyzes the installation numbers of the CWA. I therefore consider this issue as resolved.

[2022-06-05 15:19] #540 closed

[2022-06-05 15:22] Ein-Tim commented on #650
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:32] Ein-Tim commented on #654
This has been implemented. Closing.

[2022-06-05 15:32] #654 closed, assigned to nobody

[2022-06-05 15:32] Ein-Tim commented on #655
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:33] Ein-Tim commented on #660
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:35] Ein-Tim commented on #427
@dsarkar

I second what @MikeMcC399 said above. The team should device which information the app overview lists, all or only exposure logging. Please, bring this topic to the teams attention again.

[2022-06-05 15:36] Ein-Tim commented on #656
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:37] Ein-Tim commented on #631
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:38] Ein-Tim commented on #674
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:42] Ein-Tim commented on #707
This has been implemented. Therefore closing this issue.

[2022-06-05 15:42] #707 closed

[2022-06-05 15:43] Ein-Tim commented on #738
It seems like the RKI does not want this change, see https://github.com/corona-warn-app/cwa-app-ios/pull/4121#issuecomment-1021070466. Thus closing this issue.

[2022-06-05 15:43] #738 closed, assigned to nobody

[2022-06-05 15:49] Ein-Tim commented on #735
This issue stayed unmirrored to JIRA for a prolonged period of time. Please mirror it to JIRA now.

[2022-06-05 15:53] Ein-Tim commented on #723
@GisoSchroederSAP What did the PO say? Will this be implemented soon?

[2022-06-05 16:10] Ein-Tim commented on #792
I consider this as resolved now, because after 7 days the risk tile is shown again and thus the user can see the risk status again. They can then decide if they want to delete the test or not.

[2022-06-05 16:10] #792 closed, assigned to nobody

[2022-06-05 16:14] Ein-Tim commented on #778
Please add the https://github.com/corona-warn-app/cwa-wishlist/labels/contact-journal label to this issue.

[2022-06-05 16:16] Ein-Tim commented on #809
I consider this as implemented with version 2.21.

[2022-06-05 16:16] #809 closed

[2022-06-05 16:18] Ein-Tim commented on #647
Implemented in version 2.22. Closing.

[2022-06-05 16:18] #647 closed

[2022-06-05 16:40] MikeMcC399 commented on #660
@Ein-Tim

The instructions about what to do in the CovPassCheck App are in that app. CWA does not need to include these instructions.

It says "Check the following data against an ID document from the person you are checking."

[2022-06-05 16:42] Ein-Tim commented on #660
@MikeMcC399 It speeds up the process if the CWA user knows that an ID has to be presented.

[2022-06-06 17:41] jkrwdf commented on #601
Goal of this issue was to put a bit into the unprotected area of the EU DCC (so it does not break the signature) and to foster a EU wide implementation of this bit in all wallet apps to achieve a holistic solution.

However, I agree that this was maybe too much wool-gathering and the popup as mitigation is good enough (which, by the way, we did not get because of a GitHub issue, but with the Colog

[2022-06-06 17:41] #601 closed, assigned to mlenkeit

[2022-06-06 21:19] GisoSchroederSAP commented on #723
Didn't hear anything yet, I just asked again.

[2022-06-07 07:51] svengabr commented on #830
@Ein-Tim

That's an excellent idea, I will bring this up in our community management meeting.

[2022-06-07 08:18] Ein-Tim commented on #830
@svengabr Thank you, I appreciate it!

[2022-06-07 09:05] svengabr commented on #830
Internal Tracking ID: EXPOSUREAPP-13312

[2022-06-07 16:18] MikeMcC399 commented on #832
@Ein-Tim
In your title "possibilityto" should be two words => "possibility to". Or you could shorten the title to
"Reissue certificates that are not currently used" since this is the wishlist repository and that would be your wish.

[2022-06-07 16:20] Ein-Tim commented on #832
Done @MikeMcC399! Thank you!

[2022-06-07 16:45] MikeMcC399 commented on #832
A workaround for this wishlist request item is to temporarily delete newer certificates leaving the expired certificate as the currently used certificate. Then renew the desired expired certificate. Finally restore the deleted certificates from the recycle bin.

[2022-06-07 16:47] Ein-Tim commented on #832
@MikeMcC399 Yes, that is a workaround. If this is the officially suggested workaround for this, it should be added to the FAQs. Then I would also consider this as implemented & close it.

[2022-06-08 10:27] MikeMcC399 commented on #830
If a stale bot is applied to old issues, then it is likely to increase the overhead of community moderators and I don't get the impression that there is any spare capacity for this type of task. Issue submitters will increase their activity if prompted by a bot, even if not all of them will react and they may need an answer or action from a community moderator based on this. Also, I don't think th

[2022-06-08 10:37] MikeMcC399 commented on #121
@geos-github

This is quite an old wishlist item and there have been many iterations to the wording and layout of the risk tiles in the app since May 2020. In German the risk tile now says "Keine Risiko-Begegnungen" if that is the case (no more "bisher" in the wording).

In the meantime, screenshots are available on the website https://www.coronawarn.app/de/screenshots/ for reference. This is the

[2022-06-08 10:39] Ein-Tim commented on #830
May I ask why? The scenario is the following: An issue stays open for a prolonged period of time without any activity on it. After 9 moths the bot comments on:
"This issue has been automatically marked as stale because there was no activity on this issue for a prolonged period of time. It will be closed automatically if no further activity occurs in the next 14 days. Thank you for your contributio

[2022-06-08 12:15] MikeMcC399 commented on #830
@Ein-Tim

I'm guessing that if somebody comments on an issue, that the comment might need some moderator reply. That is just a gut feel. You will only find out if you implement the bot, so it might be a good idea to start on a simpler repository first to test the reaction.

[2022-06-08 12:27] Ein-Tim commented on #830
@MikeMcC399

I see where you're coming from, maybe someone then asks what the status of this ticket is, etc.

You're suggestion to start enrolling the bot on a simpler repository sounds good to me.

[2022-06-08 14:02] Ein-Tim commented on #656
For the reason given by @thomasaugsten in https://github.com/corona-warn-app/cwa-wishlist/issues/656#issuecomment-939695228 I'll close this issue now.

[2022-06-08 14:02] #656 closed, assigned to nobody

[2022-06-08 14:39] svengabr commented on #830
@Ein-Tim  @MikeMcC399

We already had the internal discussion yesterday also in terms of possible overhead that _**might**_ happen once we will use the stale bot. However, a final decision on our side was not made yet.

We also need to make sure we are fine from technical/legal standpoints this is why neither I nor my community management team can make any decision right now. We have to wait for f

[2022-06-08 15:39] MikeMcC399 commented on #830
@svengabr

If the product owners decide to go ahead, I would suggest a much shorter number of days to declare an issue stale: something like 4 to 8 weeks, not 9 months. That's based on the current release schedule of once a month. I would factor in what the product release schedule is planned to look like for the future as well. I can only see 2.24 in the pipeline with no date so far visible and n

[2022-06-08 21:05] geos-github commented on #121
well, the initial point I have been trying to make has not yet been taken into consideration. To reiterate: when the app claims "no risk encounters" users are likely to take that for what it says by assuming that they are safe since there actually were no risk encounters (must be true since the app says so...). Still the app cannot make such a claim. Only because the app was not able to detect any

[2022-06-08 21:48] Ein-Tim commented on #660
I have a PR ready for this item under iOS.

@svengabr & @dsarkar Could you let me know if a PR reg. this is welcome?

[2022-06-09 06:35] MikeMcC399 commented on #121
@geos-github

Thanks for your feedback! You are right that the risk tile information is incomplete. I think it is acceptable for the overview to say only "Keine Risiko-Begegnungen" however the detailed tiles reached through the right arrow don't contain any disclaimer about what is not covered. For example the app can't calculate a risk encounter with a person which occurs **after** they have repo

[2022-06-09 07:46] larswmh commented on #673
Thanks for your enhancement request @pkreissel. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13340](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13340)

---
Corona-Warn-App Open Source Team

[2022-06-09 08:32] MikeMcC399 commented on #673
Note that the dashboard on https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/COVID-19-Trends/COVID-19-Trends.html?__blob=publicationFile#/home in the graph "7-Tage-Inzidenz Hospitalisierungen" shows also corrected data.

1. To get to this link, in the app, scroll down to FAQs and tap
2. On website tap on Dashboard (tap first on menu top-right if Dashboard selection no

[2022-06-09 10:18] svengabr commented on #830
@MikeMcC399
Yes, I agree that 9 months is too long. I am also not sure at the moment if my `cwa-bot` that manages the project board will interfere with the behavior of the stale bot. We will have to figure something out if this gets approved.

[2022-06-09 10:21] svengabr commented on #660
@Ein-Tim I will create a ticket for this. However, I can not guarantee if your PR will be merged as the app developer team most of the time won't accept any community PRs for the iOS or Android app.

[2022-06-09 10:24] Ein-Tim commented on #660
@svengabr

Mh, did something change here during the last weeks? I always had the impression that the team welcomes community PRs very much.

[2022-06-09 10:29] svengabr commented on #660
Internal Tracking ID: EXPOSUREAPP-13342

[2022-06-09 10:31] svengabr commented on #660
@Ein-Tim I will ask the dev team once again for a general state in terms of App PRs. For the website, we will accept community additions most of the time.

[2022-06-09 11:14] svengabr commented on #660
@Ein-Tim

The response is:

* New features PRs are critical since the RKI would be asked first if said feature should be implemented. Then a whole other internal process would start (dev, security checks, testing [...]). Community PRs will not be accepted easily in terms of new features.
* Bugfix PRs are appreciated since bugs need to be fixed anyways and this would help our developers.
* Text cha

[2022-06-09 11:35] MikeMcC399 commented on #660
@svengabr

For text changes there is a special instruction for Android which is missing in iOS.

In https://github.com/corona-warn-app/cwa-app-android/blob/main/.github/pull_request_template.md it says:

"The PR can not contain changes in localization files, e.g. values-[LANGUAGE-CODE]/strings/* and / or assets/* (see https://github.com/corona-warn-app/cwa-app-android/issues/332 for further inform

[2022-06-09 11:59] Ein-Tim commented on #660
@svengabr

Okay thanks, so in the end, nothing really has changed PRs to iOS & Android repo are always provided with a certain risk of not being merged because the stakeholders decline the feature/text change/whatever (happened here for example: https://github.com/corona-warn-app/cwa-app-android/pull/4719).

But this shouldn't be a show stopper for the community, or? Providing PRs with good additi

[2022-06-09 12:00] Ein-Tim commented on #660
@MikeMcC399

Regarding https://github.com/corona-warn-app/cwa-wishlist/issues/660#issuecomment-1151010762, at least under iOS, it is no problem to add new strings / change strings in German. Everything else is done by the translation team.

[2022-06-10 10:19] Ein-Tim commented on #815
@thomasaugsten / @larswmh

Could you please mirror this to JIRA / take note:

I wrote with a Twitter user, who was very confused that risk exposures disappeared from her contact journal. Turns out: The exposure was more than 10 days ago, thus it disappeared.
The current implementation is very confusing to users and needs to be changed soon!

Link to Twitter: https://twitter.com/der_nalin/status/15

[2022-06-10 10:23] Ein-Tim commented on #774
@larswmh / @thomasaugsten / @mlenkeit

Please prioritize this item & bring it up to the PO ASAP.

Currently, the userflow is the following:
1. Delete test, see this warning:

<img src="https://user-images.githubusercontent.com/67682506/173045488-52ddd1f1-2834-4cc3-9b69-8b7b6a539e32.png" width="300">

As you can see, this warning doesn't talk about not being able to scan the test again, if complete

[2022-06-10 10:34] larswmh commented on #815
@Ein-Tim thanks for forwarding this. I'll add this to the internal ticket

[2022-06-12 11:38] Ein-Tim commented on #660
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4613 opened at my own risk.

[2022-06-13 10:35] MikeMcC399 commented on #660
@Ein-Tim

- If your PR https://github.com/corona-warn-app/cwa-app-ios/pull/4613 for iOS is accepted, then there should be a corresponding change done for Android.

[2022-06-13 11:47] larswmh commented on #213
Closing this issue as the related internal ticket is set to obsolete

[2022-06-13 11:47] #213 closed

[2022-06-13 11:51] larswmh commented on #362
FYI @MikeMcC399

Closing this ticket, as its related internal ticket is set to obsolete

[2022-06-13 11:51] #362 closed

[2022-06-13 12:03] larswmh commented on #239
Closing this ticket as it was internally set to obsolete. As mentioned above:

---

@Ein-Tim I've seen you've asked this in the PR as well and for completeness, I'll post the answer here again:

[2022-06-13 12:46] larswmh commented on #154
Closing this issue as the related internal ticket has been set to obsolete

[2022-06-13 12:50] larswmh commented on #25
Closing this issue as the related internal ticket was set to obsolete.

[2022-06-13 12:50] #25 closed

[2022-06-13 12:54] larswmh commented on #37
Closing as suggested since the author did not respond in time.

[2022-06-13 12:58] larswmh commented on #30
Closing this issue. Internal feedback:

[2022-06-13 12:58] #30 closed

[2022-06-13 13:07] larswmh commented on #8
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:07] #8 closed

[2022-06-13 13:26] larswmh commented on #35
Closing this issue as it was set to obsolete in its related internal ticket. Abovementioned visibility might have been a good reason  to keep this issue opened back then, but considering that we have hundreds of open wishlist items now I can't agree with this anymore. Apart from that, even if closed, this GitHub issue will still be visible.

[2022-06-13 13:26] #35 closed

[2022-06-13 13:31] larswmh commented on #12
Closing this issue as there is currently no Corona-Warn-App for Apple Watch planned.

[2022-06-13 13:33] larswmh commented on #71
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:33] #71 closed

[2022-06-13 13:37] larswmh commented on #123
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:37] #123 closed

[2022-06-13 13:49] larswmh commented on #184
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:49] #184 closed

[2022-06-13 13:57] larswmh commented on #111
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:57] #111 closed

[2022-06-13 13:58] larswmh commented on #240
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 13:58] #240 closed

[2022-06-13 14:01] larswmh commented on #48
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:01] #48 closed

[2022-06-13 14:03] larswmh commented on #83
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:03] #83 closed

[2022-06-13 14:07] larswmh commented on #91
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:07] #91 closed

[2022-06-13 14:08] larswmh commented on #490
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:08] #490 closed

[2022-06-13 14:12] larswmh commented on #357
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:12] #357 closed

[2022-06-13 14:18] larswmh commented on #151
Closing this issue as its related internal ticket was set to obsolete.

[2022-06-13 14:18] #151 closed

[2022-06-13 14:21] larswmh commented on #186
Closing this issue as its related internal ticket was set to confirmed / fixed in release 1.11.

[2022-06-13 14:23] larswmh commented on #200
Closing this issue as suggested, no response from issue author in time.

[2022-06-13 14:23] #200 closed

[2022-06-13 16:28] Ein-Tim commented on #111
@larswmh Mh, why is this technically not possible. For sure, you'd had to change things in the app, but it is not impossible.

[2022-06-13 17:57] MikeMcC399 commented on #832
@Ein-Tim

I don't know if this will ever be an "officially suggested workaround" as the official information in the [Version 2.23 blog](https://www.coronawarn.app/en/blog/2022-06-01-cwa-2-23/) says:

"For **vaccination certificates**, users only need to renew the certificate currently in use, as it contains sufficient information about vaccination protection. For users who have stored three vaccin

[2022-06-13 18:16] Ein-Tim commented on #832
@MikeMcC399

Yeah, but in the OP I Outline why the passive possibility should still be implemented.

[2022-06-14 06:44] larswmh commented on #669
Closing this issue as its related internal ticket was set to `completed`.

[2022-06-14 06:44] #669 closed, assigned to nobody

[2022-06-14 08:23] larswmh commented on #356
Closing this issue as the related internal ticket is set to `completed`.

[2022-06-14 08:27] larswmh commented on #260
Closing this issue as the related internal ticket is set to `completed`.

[2022-06-14 08:27] #260 closed

[2022-06-14 08:40] Ein-Tim commented on #356
@larswmh

What was the conclusion in the internal ticket?

[2022-06-14 08:52] larswmh commented on #69
Closing this issue as the related internal ticket is set to `completed`.

[2022-06-14 08:52] #69 closed

[2022-06-14 09:00] larswmh commented on #356
@Ein-Tim

There is no explicit conclusion in the ticket, but fix version is set to 1.13.
Related PR: https://github.com/corona-warn-app/cwa-app-android/pull/2242

See @thomasaugsten's comment from further above:

[2022-06-14 09:14] larswmh commented on #2
Closing this issue as the related internal ticket is set to `completed`.

Developer comment:

[2022-06-14 09:14] #2 closed

[2022-06-14 09:42] larswmh commented on #150
Closing this issue as the related internal ticket is set to `completed`.

[2022-06-14 09:42] #150 closed

[2022-06-14 09:58] larswmh commented on #477
Closing this issue as the related internal ticket is set to `obsolete`.

There were no more updates.

[2022-06-14 09:58] #477 closed

[2022-06-14 11:36] larswmh commented on #361
Closing this issue as the related internal ticket is set to `obsolete`.

Response to @MikeMcC399's question:

(Note that this response is not for certain, as it later asks for confirmation by another person in the comment it was left in. There has not been an update ever since, which can but does not need to mean that this can be considered true)

[2022-06-14 11:36] #361 closed

[2022-06-14 11:44] larswmh commented on #319
Closing this issue as the related internal ticket is set to `obsolete`.

[2022-06-14 11:44] #319 closed

[2022-06-14 11:47] jkrwdf commented on #823
In the meantime I found a counter-argument against my own suggestion, and this has to do with my employer.

While two of my vaccinations happened at regular vaccination locations (doctor, centre) and took over my registration data 1:1, my third vaccination took place at the site of my employer, and the registration data were taken over from our internal employee management system, in which all nam

[2022-06-14 11:51] larswmh commented on #823
Thanks for presenting a counter-argument for your own enhancement suggestion @jkrwdf. Unfortunately, we did not receive an update on it yet, but I have forwarded your new comment.

---
Corona-Warn-App Open Source Team

[2022-06-14 12:02] larswmh commented on #355
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 12:02] #355 closed

[2022-06-14 12:12] larswmh commented on #445
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 12:12] #445 closed

[2022-06-14 12:23] larswmh commented on #411
Closing this issue as the related internal ticket is set to `completed`.

Fixed in Version 2.0 by adding the functionality to print a QR Code, so that attendees of an event can scan the printed QR-Code for check-in.

[2022-06-14 12:23] #411 closed

[2022-06-14 12:27] larswmh commented on #563
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:
Too much effort and no equivalent functionality for Android.

[2022-06-14 12:27] #563 closed

[2022-06-14 12:33] larswmh commented on #397
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 12:33] #397 closed

[2022-06-14 12:43] larswmh commented on #449
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 12:43] #449 closed

[2022-06-14 12:50] larswmh commented on #466
Closing this issue as the related internal ticket is set to `completed`.

With the addition of the universal QR code scanner to the bottom bar in version 2.12, this issue is resolved.

[2022-06-14 12:50] #466 closed

[2022-06-14 13:06] larswmh commented on #455
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 13:06] #455 closed

[2022-06-14 13:20] larswmh commented on #681
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-14 13:20] #681 closed, assigned to nobody

[2022-06-14 15:06] MikeMcC399 commented on #832
@Ein-Tim

You only listed why it might be required, but I didn't see any concrete example listed.

If the official statement is that only the certificate in use needs to be updated, then any apps or sites requesting certificates should follow that rule.

Since we are still in the early days of the first vaccination certificates expiring I would not be surprised if there are going to be problems. P

[2022-06-14 16:26] Ein-Tim commented on #832
I agree with you here, but we saw e.g. with the acceptance of CovPassCheck that this might take some while until everyone accepts that and changes their process. In the meantime the enduser has to explain why some of the certificates are expired.

[2022-06-15 06:27] larswmh commented on #739
Closing this issue as suggested.

[2022-06-15 06:27] #739 closed, assigned to nobody

[2022-06-15 06:41] larswmh commented on #619
Closing this issue as the related internal ticket was set to `obsolete`.

Developer comment:

[2022-06-15 06:41] #619 closed

[2022-06-15 07:39] larswmh commented on #566
Closing this issue as the related internal ticket is set to `obsolete`.

Developer comment:

[2022-06-15 07:39] #566 closed

[2022-06-15 08:02] larswmh commented on #606
Closing this issue as the related internal ticket is set to `obsolete`.

This is working as designed.

Developer comment:

[2022-06-15 08:02] #606 closed

[2022-06-15 11:19] svengabr commented on #830
@MikeMcC399 @Ein-Tim The usage of the stale bot was rejected by the PO - at least for now.

The reason is that it's not nice to automatically close issues automatically and many people will not be happy if their issues will get closed for no other reason than elapsed time.

In the meantime, our community managers are working through many tickets at the moment that are already obsolete/completed on

[2022-06-15 11:29] MikeMcC399 commented on #830
@svengabr
It's good to see that you are updating the externally viewable issues with internal information. I agree that without this manual synchronization it would not make sense to try to add automatic closure to the process. Hopefully in the future of this project Jira and GitHub can be kept in sync in a timely way.

[2022-06-15 11:43] Ein-Tim commented on #830
I see where the PO is coming from, however, but does the PO think people are happier with proposing issues and they just lay around for 2 years? I don't think so.
I agree that closing issues only because time elapsed makes no sense, but to come back to my example from the OP (https://github.com/corona-warn-app/cwa-wishlist/issues/165), I would at least expect some action in two years, either:
- Ye

[2022-06-15 11:43] Ein-Tim commented on #830
Closing as not planned.

[2022-06-15 11:43] #830 closed, assigned to svengabr

[2022-06-15 12:25] larswmh commented on #248
Closing this issue as the related internal ticket is set to `complete`.

Developer comment:

[2022-06-15 12:25] #248 closed

[2022-06-16 08:03] Ein-Tim opened #833 "Birthday party 🎂"
Dear Corona-Warn-App developers, Open-Source-Team, community and everyone else who is involved in this project somehow, today we celebrate the second birthday of the Corona-Warn-App! 
Much has happened since [last years Birthday party](https://github.com/corona-warn-app/cwa-wishlist/issues/555), the Corona-Warn-App continued its transformation from contact tracing only to the "Schweizer Taschenmes

[2022-06-16 08:04] Ein-Tim commented on #740
Silvesters over, but now it's CWAs birthday: https://github.com/corona-warn-app/cwa-wishlist/issues/833

[2022-06-16 08:04] #740 closed, assigned to nobody

[2022-06-16 08:43] Ein-Tim commented on #555
Birthday 2.0, now: https://github.com/corona-warn-app/cwa-wishlist/issues/833

[2022-06-16 10:58] fynngodau commented on #833
Dear project members, dear community,

last year, [some of us](https://github.com/corona-warn-app/cwa-wishlist/issues/555#issuecomment-862661306) were hoping that we would be in a position to celebrate a well-justified "goodbye" before the project's second birthday.

Yet here we are, the project is still alive, so it deserves another party! :tada:

I today also want to express my appreciation for

[2022-06-16 13:02] DanAmt commented on #833
Happy Birthday 🎊🎁🎈

[2022-06-17 08:30] ndegendogo commented on #566
@larswmh and maybe adding a remark: the comment on that Jira ticket is outdated meanwhile (probably it was correct when the Jira ticket was closed).

Meanwhile we have the behaviour, at least on iOS (for Androod I don't know): the app starts on the same tab as was active when I closed it before.
😅😅😅

[2022-06-17 09:40] MikeMcC399 commented on #566
@ndegendogo
On Android my experience is that the app always starts on the "Status" tab, however if you long-press on the CWA icon to open the app, there is now an option "Display Certificates", which opens the app on the "Certificates" tab.

This was introduced in [v2.23.1](https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.23.1) with "Add app shortcuts to primary targets (EXPOSURE

[2022-06-17 09:45] Ein-Tim commented on #566
iOS automatically continues where you left off in an app if you don't hard close it or the device decides to kill the background process for performance reasons.

[2022-06-17 11:54] ndegendogo commented on #566
@Ein-Tim the behaviour of cwa was not like this in the early days when they introduced the tabs. **Has this maybe changed with newer versions of iOS?**

Yes, Apple recommends that apps behave this way; and they provide an API to make it easy for app developers. But I think  still the app developers have to implement this behaviour / use the API.

[2022-06-17 12:13] Ein-Tim commented on #566
@ndegendogo

I have no app on my phone which behaves in a different way, so I guess it's standard now.
Could also be that it depends on iOS version & iPhone model.

[2022-06-25 15:26] gleichda opened #834 "Importing renewed certificate makes certificate duplicate"
## Current implementation

Importing a renewed certificate makes the certificate duplicate in the list

![Screenshot_20220625-172514](https://user-images.githubusercontent.com/15176026/175780152-eb3701f7-fe65-485d-9d29-f9160b0cef4c.png)

## Steps to reproduce

1. Import a certificate on 2 devices
2. Renew a certificate on one device
3. Import the renewed cert on second device

## Suggested enhance

[2022-06-25 17:42] MikeMcC399 commented on #834
@gleichda

I don't think this can be considered a bug, although it could be a wishlist item.

The old and new certificates are only connected by hash information on an RKI server, so to automate a clean up after importing a renewed certificate would involve contacting the RKI server. That is probably not desirable. Certificate scanning should be possible locally without having to share any data wi

[2022-06-25 20:00] Ein-Tim commented on #834
When importing a certificate the app checks if there is already a certificate in the app with the same UCID (Unique Certificate Identifier). Only if this is the case, the app shows an info message to the user that the certificate is already in the app.

As the renewed and the old certificate have different UCIDs, the app does not detect that they are the same (from users perspective).

[2022-06-26 04:32] gleichda commented on #834
@Ein-Tim @MikeMcC399 by using the information from the certificate this should be possible: Comparing name,  date of event and type of certificate (Vaccination, recovery) with existing certificates this should be easy doable I would say

[2022-06-26 06:52] MikeMcC399 commented on #834
@gleichda

Up to a maximum of three devices the expected use case is for the reissue to be requested on each device individually. A user would only need to scan a reissued certificate starting with the fourth device and there the old certificate would need to be deleted by hand. On the first three devices the older certificate would be automatically removed (see https://www.coronawarn.app/en/faq/r

[2022-06-27 07:16] larswmh commented on #834
Thanks for your enhancement request @gleichda. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13457](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13457)

Issue was moved to `cwa-wishlist` repository and opening comment has been adjusted accordingly. Feel free to update it if you think that anything is missing.

---
Corona-Warn-

[2022-06-27 15:56] janknieling opened #835 "Add possibility to register a positive selftest"
## Feature description

It will be very nice to have the possibility to register a positive COVID-19 rapid selftest in the app to warn your contacts without a rapid test or PCR test from a test center.

## Problem and motivation

I think the benefits of this function is that people can warn there contacts if they are positive because the free „Bürgertests“ will expire soon

## Is this something yo

[2022-06-27 17:41] Ein-Tim commented on #835
Hey @janknieling,

thank you for raising this issue! I think this is a duplicate of #374, what do you think?

If you agree with me, please close this issue. Thanks!

[2022-06-28 16:26] Ein-Tim commented on #774
@mlenkeit / @thomasaugsten

This is a high priority item and seems more like a bug to me. As there is no hint in the app that a test can't be scanned more than one time, users are happily deleting tests and try to re-scan them, because they think this way they can refresh them. See e.g. this [Tweet](https://twitter.com/alltoowell91/status/1541818307988389888?s=20&t=byM0N4p_gIuXMckx1zfRjg).

Please

[2022-06-29 19:09] Ein-Tim opened #836 "Don't block users from exporting single certificates if they are able to export all certificates"
## Current Implementation
Currently, in some cases (f.i. if the user wants to export an EU DCC which was not issued by Germany) the user gets an error message that the app can't export this certificate. However, if the user then uses the export all feature, which was shipped with version 2.24, the user is able to export all certificates, including these where the app stated that an export is not p

[2022-06-30 04:43] Ein-Tim commented on #662
I can confirm that this has been addressed in version 2.24 under iOS, I will check Android as soon I receive the update on the device.

[2022-06-30 13:32] larswmh commented on #836
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13474](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13474)

---
Corona-Warn-App Open Source Team

[2022-07-04 14:02] Ein-Tim commented on #624
This issue was not mirrored to JIRA in nearly one year (!). Why @dsarkar, @larswmh?

[2022-07-04 14:03] Ein-Tim commented on #627
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:04] Ein-Tim commented on #629
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:04] Ein-Tim commented on #633
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:06] Ein-Tim commented on #634
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:07] Ein-Tim commented on #642
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:07] Ein-Tim commented on #650
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:07] Ein-Tim commented on #655
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:08] Ein-Tim commented on #631
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:09] Ein-Tim commented on #674
Please mirror this issue to JIRA now @dsarkar / @larswmh.

[2022-07-04 14:11] Ein-Tim commented on #735
I withdraw this proposal for the reason @Jo-Achim mentioned above. Closing this issue.

[2022-07-04 14:11] #735 closed, assigned to nobody

[2022-07-04 14:12] larswmh commented on #624
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13520](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13520)

The issues unfortunately snowed under, but we're getting back to all the issues you're mentioning us in now. Sorry for the inconvenience.

---
Corona-Warn-App Open Source Team

[2022-07-04 14:12] Ein-Tim commented on #723
@GisoSchroederSAP Just a little reminder that this issue exists and is open for nearly half a year now. I wonder what delays this decision so much, I always thought that there should be feature parity between CovPass app and CWA.

[2022-07-04 14:13] Ein-Tim commented on #717
Please close this issue @larswmh / @dsarkar.

[2022-07-04 14:13] Ein-Tim commented on #666
Please close this issue @larswmh / @dsarkar.

[2022-07-04 14:13] larswmh commented on #717
Closing as suggested

[2022-07-04 14:13] #717 closed

[2022-07-04 14:14] larswmh commented on #666
Thanks for all of your comments. Feel free to open another issue if necessary.

Closing as suggested

[2022-07-04 14:14] #666 closed

[2022-07-04 14:15] Ein-Tim commented on #624
Thank you @larswmh! Appreciate it and no problem!

[2022-07-04 14:17] larswmh commented on #627
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13521](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13521)

---
Corona-Warn-App Open Source Team

[2022-07-04 14:20] larswmh commented on #629
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13522](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13522)

---
Corona-Warn-App Open Source Team

[2022-07-04 14:22] larswmh commented on #633
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13523](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13523)

---
Corona-Warn-App Open Source Team

[2022-07-04 14:25] larswmh commented on #674
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13524](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13524)

---
Corona-Warn-App Open Source Team

[2022-07-04 14:26] Ein-Tim commented on #165
[This](https://twitter.com/EaeraAn/status/1535569275208990720?s=20&t=yU7zeZVPlWcSYke53NPBVw) user complains on Twitter about the following:
- No information in the app that positive rapid antigen self tests can't be added to the app
- and asks the question why [these](https://twitter.com/EaeraAn/status/1535569275208990720?s=20&t=yU7zeZVPlWcSYke53NPBVw) infos are not clearly in the app

[2022-07-04 14:42] MikeMcC399 commented on #165
@Ein-Tim

- Do you think that the FAQ article https://www.coronawarn.app/en/faq/results/#rat_tan_hotline should be expanded to mention also self-tests?
- Also there is no explicit entry in the FAQ for self-tests. They are mentioned in https://www.coronawarn.app/en/faq/results/?search=&topic=glossary#glossary_rapid_antigen_test. Should there be a separate FAQ entry for self-tests (Antigen-Selbsttes

[2022-07-04 14:45] Ein-Tim commented on #165
@MikeMcC399

Yes, I think it would be good to get this topic covered! Would you like to open an issue in the website repo for this?

However, as this is what the OP of this issue is a request to communicate directly via the app, I must say: It would be better if  this information could be found directly in the app.

[2022-07-04 16:55] MikeMcC399 commented on #165
@Ein-Tim

- https://github.com/corona-warn-app/cwa-website/issues/3000 is now opened (by the way, quite incredible that we reached 3000 issues on the website!)

- It would be good if the section "Manage Your Tests" also included the information from https://www.coronawarn.app/en/faq/results/#rat_tan_hotline that a positive result from a Rapid Antigen Test, a Rapid PCR Test or a Selftest cannot be

[2022-07-05 06:21] Ein-Tim commented on #165
@MikeMcC399

I'll add a comment to the other issue.

[2022-07-05 08:52] larswmh commented on #634
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13530](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13530)

---
Corona-Warn-App Open Source Team

[2022-07-05 09:12] larswmh commented on #642
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13531](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13531)

---
Corona-Warn-App Open Source Team

[2022-07-05 09:16] MikeMcC399 commented on #834
I overlooked the scenario where a user may have the same certificates stored in both Corona-Warn-App and CovPass. If a user has two devices, and certificates are stored in each app on each device, that would be a total of 4 times storage of the same certificate.  That would exceed the allowance of 3 reissues per certificate, so therefore some manual exchange between the apps would be necessary.

[2022-07-05 09:16] larswmh commented on #650
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13532](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13532)

---
Corona-Warn-App Open Source Team

[2022-07-05 09:19] larswmh commented on #655
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13533](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13533)

---
Corona-Warn-App Open Source Team

[2022-07-05 09:20] larswmh commented on #631
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13534](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13534)

---
Corona-Warn-App Open Source Team

[2022-07-05 09:36] dsarkar commented on #834
@MikeMcC399 Manual exchange can be done with the "export all" functionality.

[2022-07-05 09:49] MikeMcC399 commented on #834
@dsarkar

That is correct, however normally there would only be one certificate to export / import at a time from and into CWA. The point of this item is to delete the older certificate automatically. The way it is at the moment, if you import an renewed certificate you have to delete the older certificate by hand if you want to clean up. You could just leave the older certificate where it is thou

[2022-07-05 10:33] dsarkar commented on #834
@MikeMcC399 yes, I agree with your comment, and indeed, the central question is if deletion of the older certificate should be automated. I guess this is problematic, because it will be "replaced" by a different mechanism than the currently defined one. Anyway, the idea per se is interesting.

[2022-07-05 15:15] Ein-Tim commented on #660
@MikeMcC399

- My PR https://github.com/corona-warn-app/cwa-app-ios/pull/4613 was merged, so this means RKI has approved the changes. I'm sure someone will mirror the changes to Android soon. If not, you could follow up through an issue, or I will do that :D

[2022-07-05 16:12] MikeMcC399 commented on #660
@Ein-Tim

I will leave that to the developers or to you.

[2022-07-06 13:56] MikeMcC399 commented on #660
@Ein-Tim
- See https://github.com/corona-warn-app/cwa-app-android/pull/5325

@dsarkar

This item can now have a Fix 2.25 label added.

[2022-07-09 21:31] #731 closed, assigned to nobody

[2022-07-10 13:01] Ein-Tim opened #837 "Do not prompt user to take a PCR test after a positive RAT is registered if a positive PCR test was registered in the last days"
## Current Implementation
If a user registers a positive PCR test in the app and after some days a positive RAT, the app recommends to take a PCR test to verify the result of the RAT. However, with near 100% certainty the positive RAT is a test the user took to end isolation ("Freitestung"). The user thus already knows he is infected from the positive PCR test and it is not necessary to take anoth

[2022-07-10 13:04] Ein-Tim opened #838 "Clear statement after exposure submission that others were warned"
## Current Implementation
Currently, the app only makes vague statements that others were warned after the "Warn others" process was finished successfully. Actually, the only thing I found was this message: "Thanks to your support, other people can now be warned and respond appropriately.".

## Suggested Enhancement
Make a clear statement whether others were already warned or not, like.
"The proce

[2022-07-10 13:44] Ein-Tim opened #839 "Make clear statement whether certificate needs to be renewed or not"
## Current Implementation
Currently, the app always shows the following text if a certificate is about to expire technically or is already expired.

## Suggested Enhancement
The app knows if a certificate is the currently used one or not, so it can make a clear statement whether to renew the certificate or not. Examples for texts:

**CASE 1: Multiple currently used certificates about to expire, ne

[2022-07-10 15:01] dsarkar commented on #837
@Ein-Tim Thanks for suggestion. Will be forwarded.

[2022-07-10 17:38] MikeMcC399 commented on #837
@Ein-Tim

I assume you mean "Adapt the text:" not "Adopt the text:"

Adopt doesn't make sense, because the text is already part of the app.

[2022-07-10 18:10] dsarkar commented on #839
@Ein-Tim Thanks for suggestion. Will be forwarded.

[2022-07-10 18:44] Ein-Tim commented on #637
Will this issue be mirrored to JIRA soon? @larswmh

[2022-07-10 18:46] Ein-Tim commented on #715
@claravoss (@dsarkar / @larswmh)

I recommend to close this issue now, see https://github.com/corona-warn-app/cwa-wishlist/issues/715#issuecomment-1085892580. This is probably the best that can be done currently.

[2022-07-10 19:02] Ein-Tim commented on #723
@GisoSchroederSAP Did you get feedback from the PO in the last 30 days?

[2022-07-10 19:06] dsarkar commented on #838
@Ein-Tim Thanks for the suggestion.

[2022-07-11 06:36] GisoSchroederSAP commented on #723
I'm sorry, I missed the first answer in June 14th:
The valid_from date for a recorvery certificate is used to calculate the effective validity (fachliche Gültigkeit) for the G status in Germany.
As the G status and the effective validity are country-specific properties (and not equally defined across Europe), this valid_from date cannot be shown initially. In contrast, the valid_to date (180 days

[2022-07-11 06:44] Ein-Tim commented on #723
@GisoSchroederSAP

Ok, thanks for the feedback. Was this a decision by someone from SAP or from RKI? Anyways, I suggest that the CovPass & CWA team aligns in this mater.

[2022-07-11 06:45] Ein-Tim commented on #723
Another thing I find quite surprising:

CWA currently does not show the "Valid until" date, although you say it is safe to show it. If it's safe to show it, why isn't it shown by CWA?

[2022-07-11 14:05] larswmh commented on #637
Thanks for your enhancement request @jucktnich. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13584](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13584)

---
Corona-Warn-App Open Source Team

[2022-07-11 15:39] Ein-Tim commented on #723
I now opened https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/202 and will wait for feedback. Let's see what happens next. I'm closing this issue until further notice.

[2022-07-15 09:18] MikeMcC399 opened #851 "Allow QR code scan from file without camera permissions"
## Avoid duplicates
* [X] Issue is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Issue is specific for Android only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Issue is not already reported in another issue

## Technical details

- Device name: Go

[2022-07-15 13:28] dsarkar commented on #851
@MikeMcC399 Thanks for suggesting this enhancement. Internal Tracking ID: [EXPOSUREAPP-13639](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13639)

[2022-07-16 12:35] Ein-Tim opened #848 "App is artificially locked to portrait mode although this is an accessibility issue"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for Android only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Huawei P

[2022-07-16 18:45] MikeMcC399 commented on #848
@Ein-Tim

- The enhancement request https://github.com/corona-warn-app/cwa-wishlist/issues/859 also calls for support of landscape mode. Unfortunately this request was not mirrored to jira, so there was never any feedback on it.

- Allowing landscape mode will exposure some formatting issues which are not noticeable in portrait mode e.g. the cut off head in the following:

![image](https://user-im

[2022-07-16 19:03] Ein-Tim commented on #848
@MikeMcC399

That is true, however, in my opinion some cut off illustrations, etc. should
a) not stop the team from updating the app to support landscape orientation and ship bug fixes for this in later updates
b) be easily fixable

As you can tap on the QR code & then a full screen view of the QR code is opened, this is not a problem neither. Yes, the QR code should be displayed completely instan

[2022-07-17 06:53] MikeMcC399 commented on #848
@Ein-Tim

I would view support of landscape mode as a major enhancement for the app. It's very easy to allow the app to rotate, however to allow it to display information in a useful way in landscape mode would require development of new layouts. I wouldn't see that as a simple bug fixing exercise. It that were the case, then probably the developers would have enabled landscape mode a long time ag

[2022-07-17 10:52] Ein-Tim commented on #848
@MikeMcC399 I think there are two ways of integrating landscape mode. Either, the team just allows the app to rotate and fixes the issue where illustrations or text is cut off (this would be the easy way), but for sure the app could be optimized so that the form factor landscape is used in the design and new layouts are created (more workload).

Thanks for giving your feedback on this issue! I was

[2022-07-17 11:22] fynngodau commented on #848
CCTG has [lifted the orientation lock to enable landscape mode](https://codeberg.org/corona-contact-tracing-germany/cwa-android/issues/86).

* The issue that is seen in https://github.com/corona-warn-app/cwa-wishlist/issues/848 can be fixed easily by replacing `android:scaleType="centerCrop"` with `"centerInside"` as in https://codeberg.org/corona-contact-tracing-germany/cwa-android/commit/31caed0

[2022-07-18 06:55] larswmh commented on #848
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13641](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13641)

---
Corona-Warn-App Open Source Team

[2022-07-21 16:53] leonhma opened #840 "Google Wallet support"
## Feature description

It'd be great to have a 'add to google wallet' button for your certificates. There's googles documentation [here](https://developers.google.com/wallet/health/vaccine-cards#get_started), although you have to provide 'eligibility documentation'.

## Problem and motivation
This would be great for having all your passes in one spot, and also benefit from googles optimisation fo

[2022-07-21 17:14] MikeMcC399 commented on #840
@leonhma

You can find a related discussions in:

- https://github.com/corona-warn-app/cwa-app-android/issues/3486 and
- https://github.com/Digitaler-Impfnachweis/covpass-android/issues/52

[2022-07-21 17:19] MikeMcC399 commented on #840
https://support.google.com/wallet/answer/12059257 lists the countries where this is already supported.

[2022-07-21 17:21] leonhma commented on #840
Is it the countries where a provider has made these features available in the google wallet app, or where googles api is accessible? Because I don't see much reason for Google to restrict COVID passes to certain countries.

[2022-07-21 18:23] MikeMcC399 commented on #840
@leonhma

My understanding from https://github.com/corona-warn-app/cwa-app-android/issues/3486#issuecomment-864567221 is that the feature was declined by the Open Source Team last year when Google Wallet was called Google Pay. I assume also that the Open Source Team was replying on behalf of the responsible health authority in Germany: the Robert Koch Institute (RKI), and that if support for COVID

[2022-07-21 18:35] leonhma commented on #840
Okay so if they applied then they will hear back once COVID passes come to Germany? I guess this is going to have to be put on hold until then...

[2022-07-26 12:51] larswmh commented on #754
Closing this issue as suggested since there was no further activity.

---
Corona-Warn-App Open Source Team

[2022-07-26 12:51] #754 closed

[2022-07-26 12:55] larswmh commented on #705
Closing this issue as suggested since there was no further activity. Thanks for all of your contributions.

---
Corona-Warn-App Open Source Team

[2022-07-26 12:55] #705 closed

[2022-07-28 09:20] retonap opened #847 "Background color of Positive Test notification should be red"
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for Android only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)

## Curren

[2022-07-29 12:23] Ein-Tim commented on #820
@dsarkar I want to push this issue one more time. Could you let us know what the internal status is?

[2022-07-29 12:40] dsarkar commented on #820
@Ein-Tim Thanks for "cherry-picking" this one. Re-assigned and underlined importances/relevance of this issue.

[2022-07-29 12:42] Ein-Tim commented on #820
Thanks @dsarkar! Enjoy your Friday afternoon!

[2022-07-29 15:21] Ein-Tim commented on #660
This feature has been implemented in version 2.25. Therefore I'm closing this issue now.

[2022-07-29 15:21] #660 closed, assigned to svengabr

[2022-07-31 11:04] Ein-Tim opened #841 "Certificate mass import"
## Feature description

With version 1.28 CovPass received a new feature which allows the user to import multiple certificates from one PDF. CWA should offer the same functionality.

## Problem and motivation
This feature could be used in different scenarios. One use case would be that the user exports all certificates from CWA on their old device, moves to a new phone & there the user wants to im

[2022-08-03 11:29] Ein-Tim opened #842 "Do not show new features screen if there are no new features"
## Current Implementation

Currently it is implemented that the "New Features" splash screen after a minor app update is shown, although the release does not contain any new features but only bug fixes (see e.g. https://github.com/corona-warn-app/cwa-app-ios/pull/4707).

## Suggested Enhancement
Do not show the new features screen if there are no new features in an app release.

## Expected Benefi

[2022-08-03 11:29] Ein-Tim commented on #842
@dsarkar / @larswmh

As this item is relevant for version 2.26, please mirror it to JIRA soon.

[2022-08-03 11:37] MikeMcC399 commented on #842
@Ein-Tim

- There is a merged Android PR https://github.com/corona-warn-app/cwa-app-android/pull/5353 related to this request.

[2022-08-03 12:04] Ein-Tim commented on #842
@MikeMcC399 This PR is good, as it prevents the splash screen being shown if I update from 2.24.1 to 2.24.2. However, I was talking about the fact that I will see a splash screen when updating form version 2.25.0 to 2.26.0 with the information that nothing has changed. This does not make sense.

[2022-08-03 12:34] MikeMcC399 commented on #842
@Ein-Tim

Sorry that I misunderstood your request.

- You're referring to the (currently unmerged) iOS PR https://github.com/corona-warn-app/cwa-app-ios/pull/4707

![iOS New Features 2.26.x](https://user-images.githubusercontent.com/77438487/182595507-e4a158b7-3a84-43f8-813a-98c8e251bb48.png "New Features")

Is there an equivalent PR for Android? I could not find one.

[2022-08-03 12:37] Ein-Tim commented on #842
I don't think so. At least it is not included in https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.26.0-rc.0.

[2022-08-03 13:34] MikeMcC399 commented on #842
@Ein-Tim

I would be fine if Android implemented the same message as the pending iOS PR (https://github.com/corona-warn-app/cwa-app-ios/pull/4707) if there are no new features.

In the past, new releases have always had new features, so if there is a release with no new feature I think that the app should say so instead of staying silent.

I realise there are different views on this: Some people w

[2022-08-03 13:41] Ein-Tim commented on #842
Interesting. Could you explain why you'd like this information? How do you benefit from the information that nothing has changed?

[2022-08-03 15:29] MikeMcC399 commented on #842
@Ein-Tim

This is just my personal preference. It also corresponds to the Project Office decision, as you will know from https://github.com/corona-warn-app/cwa-app-ios/pull/4707#issuecomment-1203817217.

It will be interesting to hear if there are other opinions about this.

[2022-08-03 15:53] Ein-Tim commented on #842
@MikeMcC399 Okay, understood! :)

I will feel free and ping a few other community members to see what they think: @fynngodau, @ndegendogo, @vaubaehn what do you think?

[2022-08-03 19:26] ndegendogo commented on #842
I am a software developer. I am aware that **every** new version can bring changes / improvements / bugfixes / or, if I am unlucky, it can even introduce new bugs 👹👹

So I don't mind seeing a splash screen for a new release, even when there are no new features.
Actually, I would remove the last sentence if the menu "New functions" is empty.

Especially when I am suffering from a bug and waiting fo

[2022-08-06 20:07] Ein-Tim commented on #842
@ndegendogo

Thanks for your input!

@GisoSchroederSAP Who is responsible to mirror issues to JIRA in August? Will this be done by you or someone from SAP/TSI?

[2022-08-09 07:16] khan-mujeeb commented on #847
I would like to work on this issue

[2022-08-09 07:29] MikeMcC399 commented on #847
If this is changed it should be done for both iOS and Android for consistency.

[2022-08-09 08:23] MikeMcC399 commented on #847
This request fits better into the category https://github.com/corona-warn-app/cwa-wishlist/issues

[2022-08-10 17:51] DerVogel2020 commented on #847
With a white system theme, the red colours are an eye catcher to me:

![Screenshot_20220810-195017_Corona-Warn.jpg](https://user-images.githubusercontent.com/65366950/183982174-05654b12-a3c0-415e-af2e-865d1d9a3884.jpg)

[2022-08-10 18:14] MikeMcC399 commented on #847
@DerVogel2020

Thanks for Light mode screen shot!

@retonap

Here is a Dark mode screen short from CWA TEST which allows all COVID-19 test results to be shown for app testing. There are several red icons which alert the reader if there has been a positive result. Also after having actively taken a PCR or Rapid Antigen Test I think most people will pay exact attention to the wording on the result a

[2022-08-10 18:41] DerVogel2020 commented on #847
I also think it's not necessary, because it's difficult to compute when the test is not relevant any more and the background has to change (to green?). Is it after 5 days? Or after 2 weeks? In the risk screen it's defined as 10 days. But here, it depends on each person different.

[2022-08-17 11:58] Ein-Tim commented on #842
Ok, seems like this won't be considered. Closing

[2022-08-17 11:58] #842 closed, assigned to nobody

[2022-08-17 19:35] GisoSchroederSAP commented on #842
Thanks for the discussion here, folks.
We also had an internal evaluation whether or not to show the screen. The simple explanation is: Whenever we bring a new release, that is for a reason - something changed: be it a new function or a bug fix, or just a change in text or UI.
To stay with good old practice of documentation, we allow ouselves to document the background of every new release.

- Is

[2022-08-17 20:34] Ein-Tim commented on #842
@GisoSchroederSAP

Thank you for the clarification!

<details>
<summary>Joke here</summary>

I guess that's also why the documentation repo is absolutely up to date, right?
SCNR 😉

</details>

[2022-08-19 11:03] mtwalli commented on #843
FYI, see https://github.com/corona-warn-app/cwa-app-android/pull/5475#pullrequestreview-1078496215
This is not a bug, but rather a feature request and it should be also implemented in iOS

[2022-08-19 12:39] Ein-Tim commented on #843
@mtwalli Are you able to move the issue to the wishlist repo?

[2022-08-19 13:54] mtwalli commented on #843
@Ein-Tim done

[2022-08-23 13:47] MikeMcC399 commented on #504
- PR https://github.com/corona-warn-app/cwa-app-android/pull/4685 was included in[ CWA Android 2.23.1](https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.23.1) so it seems that this wishlist item has been fulfilled for both iOS and Android now.

[2022-08-23 17:19] MarcoSteinke commented on #504
Amazing, this was a typical case of german bureaucracy for a simple feature,  but still very thankful for this feature being a part of the CWA now! 😄

[2022-08-23 17:19] #504 closed

[2022-08-24 10:30] Ein-Tim commented on #836
- PR https://github.com/corona-warn-app/cwa-app-android/pull/5491 resolves this issue under Android

[2022-08-28 08:35] Ein-Tim opened #844 "Add state (pending/positive/negative) of the test to the recycle bin"
## Current Implementation
Currently, the recycle bin only shows which type of test was deleted and when it was added/performed.

## Suggested Enhancement
Add the information whether a test was positive, negative or the result is still pending to the details in the recycle bin.

## Expected Benefits
Better overview for the user.

---
Internal Tracking ID: EXPOSUREAPP-13886

[2022-08-29 09:32] Ein-Tim opened #845 "Add information to confirmed new infections statistics card on weekend numbers"
## Current Implementation
CWA displays strictly the numbers it gets from the RKI, without any disclaimer, information, etc. that the numbers may be too low on the weekend.

## Suggested Enhancement
Add a hint in the app similar to the one displayed on the [RKI COVID-19 Germany dashboard](https://experience.arcgis.com/experience/478220a4c454480e823b17327b2bf1d4).
The hint there is:
"Da am Wochenend

[2022-08-29 10:20] MikeMcC399 commented on #845
@Ein-Tim

The first time I saw the very low numbers I was quite confused and I thought that something was broken. Thank you for posting the information text explaining that there is little or no data transmission at the weekends currently!

Since changing the app text (if it is even approved and done) would take many weeks before it could be released maybe it would be better to update the FAQs fir

[2022-08-29 10:26] Ein-Tim commented on #845
@MikeMcC399

Updating the FAQs seems like a good idea to me, as a first step!

I'll open an issue in the website repo later today!

[2022-08-29 17:12] Ein-Tim commented on #845
- Issue https://github.com/corona-warn-app/cwa-website/issues/3087 opened

[2022-08-30 08:20] openmindculture commented on #795
As a sick person waiting for my PCR test result I want to know if I am contagious and have to isolate or if it is just a summer flu and I am allowed to cook a meal for my family. Also I don't want to totally lose any confidence in German institutions if there still is no test result and no other kind of update, status or any other kind of helpful or respectful message after waiting in vain 4 full

[2022-08-30 13:04] Ein-Tim commented on #820
@GisoSchroederSAP is there any update on this topic available? Was it brought to the attention of the PO?

[2022-08-30 22:46] Ein-Tim opened #846 "Add link to CWA FAQ entry "TAN Procedure" to "Request TAN for PCR Test" screen"
## Current Implementation
Currently, the app does not link to the newly created FAQ entry "TAN Procedure" in the "Request TAN for PCR Test" screen.

## Suggested Enhancement
Add a link to the FAQ entry https://www.coronawarn.app/en/faq/results/#tan_procedure / https://www.coronawarn.app/de/faq/results/#tan_procedure to the screen.

## Expected Benefits
If the user has open questions or wants to fi

[2022-08-31 15:02] Ein-Tim commented on #845
- FYI PR https://github.com/corona-warn-app/cwa-app-ios/pull/4755 & https://github.com/corona-warn-app/cwa-app-android/pull/5521 add a hint reg. this

[2022-09-01 09:46] Ein-Tim commented on #847
@thomasaugsten Are you able to transfer this to the CWA wishlist repo and create a JIRA ticket (probably a story) for this issue?

[2022-09-02 09:21] Ein-Tim commented on #715
I again vote for closing this issue because:

- CWA now includes a combined view for certificates ([Corona-Warn-App version 2.16 shows users’ current status evidence](https://www.coronawarn.app/en/blog/2022-01-17-cwa-2-16/))
- CovPassCheck supports serial scanning

[2022-09-02 10:09] Ein-Tim commented on #430
I'm discontinuing this overview, as it makes no sense to have an overview for 2 open issues reg. one topic. Thanks for your understanding!

[2022-09-02 10:09] #430 closed

[2022-09-02 10:14] Ein-Tim commented on #835
@thomasaugsten Can you please close this issue as a duplicate of #374? Thanks!

[2022-09-02 10:14] Ein-Tim commented on #831
@thomasaugsten Could you please close this issue?

[2022-09-02 10:23] Ein-Tim commented on #788
I support this feature request to at least show the URL (if the data in the QR code that was scanned is a URL) with the option to click "Open with my browser". If necessary there can be a legal hint that the CWA team is not responsible for the content of the external page, etc.

[2022-09-02 10:30] #835 closed, assigned to nobody

[2022-09-02 10:30] #831 closed, assigned to nobody

[2022-09-02 11:33] Ein-Tim commented on #663
The hospital traffic light doesn't really play an role anymore, so I guess this issue is obsolete, right?

[2022-09-02 11:48] Ein-Tim commented on #561
- This will be implemented (more or less) with version 2.27. Take a look at the screenshots in PR https://github.com/corona-warn-app/cwa-app-ios/pull/4758 for example.

[2022-09-02 12:40] Jo-Achim commented on #663
Yes, it is obsolete now.

[2022-09-02 12:40] #663 closed, assigned to nobody

[2022-09-02 21:25] gizmo21 commented on #561
Better late... thx

[2022-09-03 11:36] Ein-Tim commented on #310
FYI: All overviews have been updated and superfluous fields have been removed.

[2022-09-03 11:38] Ein-Tim commented on #292
Health authorities won't request a list of contacts in most cases anymore, so I  step back from this request.

[2022-09-03 11:38] #292 closed

[2022-09-03 11:41] Ein-Tim commented on #167
I updated the OP of this issue to reflect that you now see the normal risk card when starting the app and not the "Unknown Risk" card.

[2022-09-03 11:47] Ein-Tim commented on #628
As the button was renamed to "Check Validity for Travel" I don't see this problem anymore so this issue is obsolete now.

[2022-09-03 11:47] #628 closed

[2022-09-05 10:48] mtwalli commented on #662
@Ein-Tim  This issue has been fixed also in Android in 2.26.0, please close the issue ?

[2022-09-05 10:49] Ein-Tim commented on #662
@mtwalli As I commented above, I'd like to test this myself and will close this issue as soon as I can confirm the fix.

[2022-09-05 10:52] mtwalli commented on #662
Ok, 2.26 is fully rolled out, Hopefully you should have received it by now

[2022-09-05 14:36] Ein-Tim commented on #836
- PR https://github.com/corona-warn-app/cwa-app-ios/pull/4763 resolves this issue under iOS

[2022-09-05 14:36] Ein-Tim commented on #836
@mlenkeit Are you able to apply the `Fix 2.27` label to this issue?

[2022-09-05 22:28] Ein-Tim commented on #796
@GisoSchroederSAP

Is there actually an update available on the report you were planning to make 7 months ago?

[2022-09-06 09:39] MikeMcC399 commented on #796
@Ein-Tim

Your previous statement is out of date since the reissue functionality became available with CWA 2.20 (see https://www.coronawarn.app/en/blog/2022-03-30-cwa-2-20/).

The current privacy document https://www.coronawarn.app/assets/documents/cwa-privacy-notice-en.pdf covers this. See page 19 "o. Update feature for COVID certificates".

The published [DSFA](https://www.coronawarn.app/assets/

[2022-09-06 22:57] GisoSchroederSAP commented on #820
All,
the new IfSG  law is not yet in power, it has not even gone through the reading in the parliament. We expect the BMG to provide specific details in the near future on how to adapt the app to the new resolutions. As mentioned above, the existing ticket with internal Tracking ID: [EXPOSUREAPP-13008](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13008)
So, yes, the PO is aware of this topic (a

[2022-09-07 06:41] MikeMcC399 commented on #820
@GisoSchroederSAP

This issue refers to the [Infektionsschutzgesetz - IfSG](https://www.gesetze-im-internet.de/ifsg/BJNR104510000.html) ("Infektionsschutzgesetz vom 20. Juli 2000 (BGBl. I S. 1045), das zuletzt durch Artikel 3a des Gesetzes vom 28. Juni 2022 (BGBl. I S. 938) geändert worden ist") in its current active form, not to any future planned change to the law.

See the following link for th

[2022-09-07 07:17] Ein-Tim commented on #820
To be very concrete: This change is in law and if there is no "Verordnung" which removes the text from the law, it will go into effect soon (01.10.2022). So to inform the user about this change, this topic needs to be included in the **current 2.27 sprint** @GisoSchroederSAP.

[2022-09-07 07:17] Ein-Tim commented on #820
@MikeMcC399

Did you or will you open an issue in one of the CovPass-App repos to make sure CovPass updates their apps?

[2022-09-07 07:49] MikeMcC399 commented on #820
@Ein-Tim

No. If you have concerns about CovPass, please raise them yourself in the appropriate repositories (issue or discussion).

[2022-09-07 08:24] MikeMcC399 commented on #820
I re-checked this and it seems that it is more or less effectively already covered by the current CCL rules:

With a 2/2 vaccination the Vaccination Status is shown as:

"You have received all vaccinations for basic immunization. Your vaccination protection is effective. Please also find out about the recommended booster vaccinations."

With a 3/3 vaccination certificate the text changes to:

"You

[2022-09-07 08:37] MikeMcC399 commented on #820
- CCL question: https://github.com/corona-warn-app/cwa-app-ccl/issues/101 added

[2022-09-07 09:52] MikeMcC399 commented on #820
Since it is effectively too late to add any special warning to the app in time for Oct 1, 2022, I will close this wishlist item.

I suggest checking again on or after Oct 1, 2022 to make sure that the information displayed in the app is aligned with the [Infektionsschutzgesetz - IfSG](https://www.gesetze-im-internet.de/ifsg/BJNR104510000.html) in its current form.

[2022-09-07 10:04] Ein-Tim commented on #820
@MikeMcC399

Why do you think it is too late? You mean that the information wouldn't help the user anymore now?

[2022-09-07 10:59] MikeMcC399 commented on #820
@Ein-Tim

I was no longer able to identify any benefit. If you see some disadvantage please explain in case I missed some point.

[2022-09-07 11:00] Ein-Tim commented on #820
@MikeMcC399

From my point of view the benefit would be to transparently communicate to the user that their vaccination status changed. But maybe this can be done solely by CCL?

[2022-09-07 14:09] GisoSchroederSAP commented on #820
To be very clear: Yes, we support your idea and would love to get an additional reminder implemented. Especially, as losing the "fully-vaccinated status" may have social and/or financial impact in the near future, this transparancy is much appreciated.
However, this reminder still needs to be aligned with and confirmed by the customer. And here we have the issue: Currently, the customer rather has

[2022-09-07 14:36] Ein-Tim commented on #820
@GisoSchroederSAP

Thanks for the clear communication!

[2022-09-07 14:43] MikeMcC399 commented on #820
@GisoSchroederSAP

You are right, since according to [§ 20a Immunitätsnachweis gegen COVID-19](https://www.gesetze-im-internet.de/ifsg/__20a.html) this affects people working in medical facilities etc. who are required to have an "Impfnachweis", defined as "Ein Impfnachweis ist ein Nachweis hinsichtlich des Vorliegens eines **vollständigen** Impfschutzes gegen das Coronavirus SARS-CoV-2 in deutsch

[2022-09-08 11:04] Ein-Tim commented on #662
Confirm fixed. Closing.

[2022-09-08 11:04] #662 closed

[2022-09-09 20:20] MikeMcC399 commented on #820
A new page has been published by BMG on https://www.bundesgesundheitsministerium.de/service/gesetze-und-verordnungen/ifsg.html

The FAQs on https://www.bundesgesundheitsministerium.de/service/gesetze-und-verordnungen/ifsg/faq-ifsg.html confirm about the changes to vaccination status which come into force on Oct 1, 2022:

![image](https://user-images.githubusercontent.com/66998419/189435156-9f00481

[2022-09-09 21:46] Ein-Tim commented on #845
@mtwalli or @sapcoder123 would you like to apply the `Fix 2.27` label here?

[2022-09-09 22:04] Ein-Tim commented on #845
- PR https://github.com/corona-warn-app/cwa-server/pull/1893 added this change on server side. It seems like the change was already deployed and the 1% threshold is already in use.

[2022-09-10 08:10] Ein-Tim commented on #820
Also, the question is what status do I have in e.g. the following case:
- 2x vaccinated
- 1x recovered

Am I "Vollständig geimpft/immunisiert", even after 01.10.2022?

CCL should definitely be made ready so that the general public can trust that the data CWA is displaying is accurate and correct.

[2022-09-10 09:44] MikeMcC399 commented on #820
@Ein-Tim

You should read [IfSG § 22a](https://www.gesetze-im-internet.de/ifsg/__22a.html) regarding recovery. It is quite complicated. Again, if you want to pursue this topic, I suggest to create a new issue to avoid confusing the issues.

[2022-09-10 10:10] Ein-Tim commented on #820
@MikeMcC399

I think I already found the answer in §22a so there is no need for a new issue.

I one has been vaccinated 2x & then recovered form Sars-CoV-2 they will still be "fully vaccinated" even after 01.10.2022.

[2022-09-12 17:02] MikeMcC399 commented on #820
I'm going to close this issue once again, as the aim was to remind **before** Oct 1, 2022.

Given the planned changes for CCL 3.3, a special warning doesn't seem to be necessary. People affected by the [Einrichtungsbezogene Impfpflicht](https://www.zusammengegencorona.de/faqs/spezifische-personengruppen/einrichtungsbezogene-impfpflicht/#id-d7cecfe2-644e-5097-a769-8065f836a0fc) are probably well in

[2022-09-12 17:02] #820 closed, assigned to nobody

[2022-09-13 07:10] mtwalli commented on #850
The app now supports family tests
<img width="569" alt="Screenshot 2022-09-13 at 09 07 11" src="https://user-images.githubusercontent.com/25054729/189833669-baf1dc29-2acf-4bf2-af02-a4539edde9a8.png"> ,but still there is no way to undo the consent once a test is registered. I think this issue should moved to wishlist as it also concerns iOS

[2022-09-13 11:20] mtwalli commented on #851
Same on iOS , moving to wishlist

[2022-09-13 15:29] Ein-Tim commented on #850
I think there actually is under both iOS & Android, or not?

After registering a test I click on the registered test ("Display Test"), scroll to the very bottom, tap on "Consent "Warnt others" granted" & turn the switch off.

But if I understand @HolgerJeromin's report correctly he selected to not warn others in the Google pop up but CWA still displayed that the Consent to warn others was granted.

[2022-09-13 15:35] mtwalli commented on #850
I did not get where you can change your consent. can you post a screenshot? Before when a positive was registered user had to give OS consent and CWA consent while registering the test once test is registered there is no way where you can revert this choice from test result details screen.

[2022-09-13 15:47] Ein-Tim commented on #850
@mtwalli

For sure, I will post a whole screen recording registering a PCR test here, selecting "Don't allow" in the Google pop up to demonstrate the bug @HolgerJeromin is reporting in this issue.

Here's the screen recording:

https://user-images.githubusercontent.com/67682506/189946951-5e62dbc9-b3ca-455c-a8c0-4de22808fe46.mp4

Here's a screenshot from the Google settings.
<img src="https://user-

[2022-09-13 17:40] mtwalli commented on #850
@Ein-Tim , I think there is a misunderstanding here. These are `two different` consents and they are not related to each other.
1- CWA consent
2- Google ENS consent since `ENS v1.8`  - Rejecting this consent does not mean that CWA consent is disabled.
Note that Google consent can be shown only once in 5 days see
[requestPreAuthorizedTemporaryExposureKeyHistory()](https://developers.google.com/andr

[2022-09-13 17:47] Ein-Tim commented on #850
@mtwalli

Thank you for the clarification, yes indeed, this is really confusing! What exactly does the consent in the CWA itself do?

Help me to understand this using these scenarios:

Scenario 1:
1. User registers test in the app & denies access in Google pop up but CWA consent stays ON
2. Test result comes in positive -> CWA can't automatically warn others in this case but will ask the user to s

[2022-09-14 07:54] mtwalli commented on #850
@Ein-Tim  that is right. As you already mentioned as long as the test is pending user can change CWA consent. I consider this issue as completed

EDIT: For case 2, I think the App will show that user has a positive test and indication that user can warn others ,later on in the flow user will be asked again for his/her consent

[2022-09-14 07:59] Ein-Tim commented on #850
Thanks for all your explanations @mtwalli!

I'll open a wishlist issue requesting to make this all a bit clearer to the average user.

[2022-09-14 08:10] HolgerJeromin commented on #850
yes.
Screenshot from your video:

<img width="240" alt="image" src="https://user-images.githubusercontent.com/2410353/190096893-f6e16518-b233-4a4e-81d3-27b57bbd6f22.png">

IMO this is a bug or at least very much feels like a bug (exactly the bug I reported here). You did select "not grant" but CWA shows "granted". "Nobody" knows that there are two layers of consent.
The "CWA consent of the test" s

[2022-09-14 08:21] Ein-Tim commented on #850
@HolgerJeromin

Thanks for confirming you were also confused by this 2 layers of consents thing! I will open a new issue in this repository asking for improving this situation in the course of the next days.

I hope that's OK for you?

[2022-09-14 08:26] HolgerJeromin commented on #850
Do what you like.
But (apart from the derailed discussion starting in comment number 2 which should be [hidden](https://github.com/corona-warn-app/cwa-wishlist/issues/850#issuecomment-1244993189)) I see no point in opening a new one but would reopen this one.

[2022-09-14 08:34] Ein-Tim commented on #850
I'll have to leave this decision to one of the repository maintainers.

[2022-09-14 08:35] mtwalli commented on #850
@HolgerJeromin  why do you still consider this as a bug?
What you denied is another consent and as @Ein-Tim  shared in his recording you can see this reflected in Google settings (off)
You never denied CWA consent and therefore is still on , you can if you want disable it which is possible. These two consents are different and denying one does not mean that you are denying the other.

if that is n

[2022-09-14 11:29] HolgerJeromin commented on #850
It is clear for me as a programmer after reading this issue tracker.

A random person interacts with CWA and got a question if he wants to share his test result. He denies a popup (which I never remembered as a Non-CWA popup) and reenters the test and sees that his "choice was not remembered".

"I was asked something quite similar and answered no, which was not remembered."

I call it it an [UX](h

[2022-09-15 12:35] MikeMcC399 commented on #853
- The request asks for it to "be made possible to warn when an antigen test drawn by a certified provider came back positive." As @Ein-Tim commented in https://github.com/corona-warn-app/cwa-wishlist/issues/853, the functionality already exists. See the blog [Project team integrates rapid COVID-19 tests into Corona-Warn-App version 2.1](https://www.coronawarn.app/en/blog/2021-05-02-corona-warn-app

[2022-09-16 07:34] Ein-Tim commented on #852
I suggest to merge this issue with #500.

[2022-09-20 08:24] mtwalli commented on #859
This topic is also related to tablets and allowing different orientations in the App which should be also supported in iOS world

[2022-09-20 08:28] Ein-Tim commented on #856
@mtwalli I think this issue can be closed, see the comments above.

[2022-09-20 08:30] #856 closed

[2022-09-20 08:30] Ein-Tim commented on #858
@mtwalli This seems like a bug and not like a feature request. Please check wirth @thomasaugsten and move it back to the Android repo if appropriate.

[2022-09-20 08:31] Ein-Tim commented on #859
@mtwalli The app is not available on iPads. This is an Android exclusive request. Please move it back to the Android repo.

Allowing the app to be used in landscape is not the point of this issue, right @MikeMcC399?

[2022-09-20 08:35] mtwalli commented on #858
@Ein-Tim the ticket says it is a `story` not a `bug`, Which should be handled in iOS and Android. Also we are using the schema provided by EU and the certificate is issued by Thailand.

[2022-09-20 08:39] mtwalli commented on #858
@Ein-Tim  see https://github.com/corona-warn-app/cwa-app-ios/blob/db4828940655c40bd5394b2c9f9ef16a9f986bec/src/xcode/ENA/HealthCertificateToolkit/Sources/HealthCertificateToolkit/CertificateAccess/Ressources/CertificateSchema.json

[2022-09-20 08:45] MikeMcC399 commented on #858
@Ein-Tim

Can you provide a link to specification which says that 81 characters are valid?

In the comment https://github.com/corona-warn-app/cwa-wishlist/issues/858#issuecomment-1252007028 I referred to https://ec.europa.eu/health/sites/health/files/ehealth/docs/vaccination-proof_interoperability-guidelines_en.pdf which seems to state a maximum of 72 characters (footnote 6 on page 12).

![image](

[2022-09-20 08:46] Ein-Tim commented on #858
@mtwalli Could you re-asses this, because @dbaldes [stated](https://github.com/corona-warn-app/cwa-wishlist/issues/858#issuecomment-1252007046) above, that it works with CovPass, so it is strange that this does not work with CWA.

@thomasaugsten Did Thailand change their implementation meanwhile?

[2022-09-20 08:48] mtwalli commented on #859
@Ein-Tim it is true that iOS does not have foldable devices, but Foldable devices have both Large and Small screen on the same device. Improving experience for Large screens falls in the same category and different orientations have to be allowed too.

[2022-09-20 08:48] Ein-Tim commented on #858
@MikeMcC399 I don't know if this is according to the schema or not, I only know that it seems to work in CovPass but not in CWA. These two apps should behave the same way (if it is possible to scan a certificate with CovPass, it should also be possible to scan it with CWA).

If you are interested why CovPass allows this certificate to be imported, you should open a new issue in a CovPass repo.

[2022-09-20 08:49] Ein-Tim commented on #859
I think @MikeMcC399 should state if it is OK for him to move this here.

[2022-09-20 08:57] mtwalli commented on #859
@Ein-Tim  For me to understand , is not every new feature request should be in the `wishlist` also ? this point is also mentioned in the template https://github.com/corona-warn-app/cwa-app-android/blob/main/.github/ISSUE_TEMPLATE/02_enhancement.md

[2022-09-20 09:03] Ein-Tim commented on #859
@mtwalli Only feature requests that concern both, iOS & Android should be in the wishlist according to my knowledge.

Opening a new Enhancement request issue in the [iOS repo](https://github.com/corona-warn-app/cwa-app-ios/issues/new/choose) shows this as the first point under the "Avoid duplicates" section:

* [ ] Enhancement request is specific for iOS only, for general issues / questions that a

[2022-09-20 09:04] mtwalli commented on #858
@Ein-Tim  What I know that CovPass should be using the same schema see https://github.com/Digitaler-Impfnachweis/covpass-android/blob/7f333711845394018e71c432d346c352427e3960/covpass-sdk/src/main/assets/covpass-sdk/json-schema-v1.json
I can't say for sure why it is accepted there

[2022-09-20 09:06] Ein-Tim commented on #859
I think there is the differentiation between
- feature requests
- enhancement requests.

While feature requests request new features (e.g. a button to increase brightness on the "Certificates" tab), an enhancement reutest requests enhancement for e.g. the usability of the app on specific devices.

As, in general, there is feature parity between iOS & Android, new feature requests should always be

[2022-09-20 09:07] Ein-Tim commented on #858
Maybe @dbaldes could recheck and let us know if CovPass meanwhile also rejects the certificate?

Independent form that it would be interesting to know if Thailand fixed their implementation.

[2022-09-20 09:13] MikeMcC399 commented on #859
@mtwalli / @Ein-Tim

Regarding the previous comments:

This enhancement request is purely for Android foldables. It could be extended to cover Android tablets and iOS tablets, but this is not in the description. I have added the checklist from the template to the OP to be clear that this is Android only.

I considered this to be an enhancement request, but since it would be a significant change to

[2022-09-20 11:19] mtwalli commented on #859
@MikeMcC399 , @Ein-Tim  Thanks for referencing the docs here, that is exactly what I'm talking about. Supporting foldable devices is not a small change ,but we will require to visit and adapt each and every screen to look good on small and large screens. it we design anyway for large screens it means that we can support tablets anyway out of the box and also enabled different orientations. iOS is

[2022-09-20 11:31] MikeMcC399 commented on #858
@mtwalli

I suggest to change the title to suit a wishlist item better, for example:

"Accept certificates with `certificate_id` length > 80"

This would probably need a schema change at the EU level according to the definitions in https://github.com/ehn-dcc-development/eu-dcc-schema. Currently https://github.com/ehn-dcc-development/eu-dcc-schema/blob/release/1.3.2/DCC.Core.Types.schema.json speci

[2022-09-20 11:44] MikeMcC399 commented on #858
I researched this a little further and I found:

COMMISSION IMPLEMENTING DECISION (EU) 2021/2299 of 21 December 2021 establishing the equivalence, for the purpose of facilitating the right of free movement within the Union, of COVID-19 certificates issued by Thailand to the certificates issued in accordance with Regulation (EU) 2021/953 of the European Parliament and of the Council

https://eur-le

[2022-09-20 12:56] Ein-Tim commented on #859
Yep, it is, thanks @mtwalli!

[2022-09-20 13:11] MikeMcC399 commented on #859
- Note also overlap with the wishlist item https://github.com/corona-warn-app/cwa-wishlist/issues/848

[2022-09-20 14:27] Ein-Tim commented on #848
@mtwalli You have relabeled this issue from https://github.com/corona-warn-app/cwa-wishlist/labels/bug to https://github.com/corona-warn-app/cwa-wishlist/labels/feature%20request and transferred it to the wishlist without further comment why this was done.

I opened this issue as a bug because it seems like an accessibility issue could be fixed by just removing one flag (leaving out re-designing s

[2022-09-20 14:30] Ein-Tim commented on #853
@sapcoder123 Will you mirror this issue to JIRA?

[2022-09-20 14:35] Ein-Tim commented on #855
@mtwalli Could you remove the (heavily) out of date https://github.com/corona-warn-app/cwa-wishlist/labels/in%20review label from this issue please?

@sapcoder123 This issue is nearly 2 years old and was never mirrored to JIRA. Please asses the situation and mirror it to JIRA if that makes sense.

[2022-09-20 14:39] Ein-Tim commented on #854
@sapcoder123 What is the status of the internal tracking ID of this issue?

[2022-09-20 14:48] mtwalli commented on #848
@Ein-Tim  Yes, it is a story that should be implemented for both Android and iOS. iOS is locked too, right?
From dev side, I think we should pay attention to some points before allowing that:
1- Whether the current screen design fits landscape orientation
2- Preserving state between different orientations. Android recreates activities in this case and we need to make sure that user experience is n

[2022-09-20 14:50] Ein-Tim commented on #848
Yep.

Thanks for your explanations, as said, I will close this issue now and open a new, dedicated one, for this.

[2022-09-20 14:50] #848 closed, assigned to nobody

[2022-09-20 16:01] MikeMcC399 commented on #820
- There is a proposed new BNR rule (see https://github.com/corona-warn-app/dcc-rule-translation/issues/10#issuecomment-1252418923). Although I don't expect the rule to warn before Oct 2022, it should at least give a warning after Oct 2022 if a user's vaccination has become incomplete due to changes in the IfSG definitions.

[2022-09-21 12:30] error401de opened #860 "Implement implied risk banner if PCR positive"
## Current Implementation
Outcome of https://github.com/corona-warn-app/cwa-app-android/issues/5581 (with already a little discussion)

Currently the app doesn't show the risk banner, if you are PCR positive and there are no high risk contacts anymore, which is confusing. To many users the following happens:
- "High risk" warning is shown
- PCR test is performed, positive result
- Risk banner is s

[2022-09-21 15:37] sapcoder123 commented on #854
The internal issue is in sync with the GitHub issue here, so the status is open.

[2022-09-22 10:52] Ein-Tim commented on #860
A problem we have is that there are quite many users who don't remove their positive test result when they leave quarantine so if we are hiding the risk card completely (even if the status is increased risk), then the question is when to show the risk card again (independent of the status).

[2022-09-22 10:59] error401de commented on #860
I'd suggest after the same period of time when the low-risk card is currently shown again.
Alternatively a default banner like "Risk assessment is currently stopped due to positive test" might work, which could be shown in any case.

[2022-09-23 12:27] sapcoder123 commented on #855
In the past this was a topic and at that point in time the decision against the Arabic translation of the CWA. At the moment there are still no plans for the future. This GitHub issue is now linked to the old internal issue and the community can decide to keep the GitHub issue open or close it.

[2022-09-28 13:15] Ein-Tim commented on #845
Implemented.

[2022-09-28 13:15] #845 closed

[2022-09-28 13:18] Ein-Tim commented on #836
Implemented!

[2022-09-28 13:18] #836 closed, assigned to nobody

[2022-09-28 15:48] Ein-Tim opened #861 "Enable POC-PCR (rapid PCR tests) feature of the CWA & let testing stations connect"
## Current Implementation
According to a [Glossary entry](https://www.coronawarn.app/en/faq/results/#glossary_rapid_pcr_test) CWA has been technically prepared to be able to handle rapid PCR tests (POC-PCR tests) with version 2.19.
While this feature has been mentioned in the initial release notes of version 2.19 in the app, it was then released with a patch release (see https://github.com/corona-

[2022-09-28 21:30] Th-St opened #862 "Wrong Vaccination Status for children"
## Current Implementation

If a person has 2 vaccinations the app shows that the vaccination would not be complete regardless of the person's age.

## Suggested Enhancement

If the birthday of the person is less than 12 years ago, the app should show that the person is fully vaccinated with 2 vaccinations. The third vaccination is only mandatory for persons which are 12 years or older.

## Expecte

[2022-09-28 23:02] MikeMcC399 commented on #862
- See https://github.com/corona-warn-app/cwa-app-ccl/issues/83#issuecomment-1155070469 which says that there is no age distinction in the legal text [IfSG § 22a](http://www.gesetze-im-internet.de/ifsg/__22a.html). This is the legal situation, which is different to the medical recommendations from the [STIKO](https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/Impfempfehlung-Zusfassung

[2022-09-28 23:28] Th-St commented on #862
Sorry!
You are right. There is no recommendation that children should get a third vaccination if they are healthy, but they need it to be legally fully vaccinated.

[2022-09-28 23:28] #862 closed

[2022-10-06 21:01] Ein-Tim opened #863 "Discussion/Question: Is it correct to assume that ca. 99% of all issued warnings are false-positives?"
## Your Question

The Wikipedia article on the Corona-Warn-App includes a section called "[Fehlalarme](https://de.wikipedia.org/wiki/Corona-Warn-App#Fehlalarme)" which states the following:

Now my question is:
- Do you agree with this conclusion? If yes/no, why?
- What do you think could be done to improve the CWA so that less of the warnings are false positives.

Feel free to discuss in this thr

[2022-10-07 06:50] mlenkeit commented on #863
@Ein-Tim thanks for bringing this to our attention, the chapter on _Fehlalarme_ seems to be relatively new.

Give us some time to check and reconstruct the math behind this and its conclusions before we answer your questions.

[2022-10-07 07:01] Ein-Tim commented on #863
@mlenkeit Yes, it's quite new.

Thanks for checking!

[2022-10-08 14:34] fynngodau commented on #863
The conclusion you should draw from a red card is not "I have covid". It is rather "I have been exposed to covid and should get tested". The expectation that the article conveys is that the app should (somehow) know if the user was actually infected, which is obviously unrealistic.

The use of the term "false alarm" (Fehlalarm) is very misleading; red cards are to be considered "false alarms" if a

[2022-10-09 17:25] Ein-Tim opened #864 "Add link to "Corona-Impfcheck" from Infektionsschutz.de to certificates"
## Feature description

The Bundeszentrale für gesundheitliche Aufklärung (BZGA) published a tool which quickly surveys the user on their immune protection against Sars-CoV-2 & gives (booster) vaccination recommendations based on the answers the user gave.
Here's a link to the tool: https://www.infektionsschutz.de/coronavirus/schutzimpfung/der-corona-impfcheck (it seems to be only available in Ger

[2022-10-09 20:11] Ein-Tim commented on #374
I want to relay that this is one of the most requested features on Twitter. Especially the time-saving aspect is pointed out by most users.

[2022-10-10 12:58] larswmh commented on #864
Thanks for your feature request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-14107](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14107)

---
Corona-Warn-App Open Source Team

[2022-10-10 13:05] larswmh commented on #861
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-14108](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14108)

---
Corona-Warn-App Open Source Team

[2022-10-10 13:16] fynngodau commented on #863
(I don't know who EugeneV68579605 is, but if they are reading the GitHub, thanks for bringing up the topic on Wikipedia-DE's Discuss page again.)

[2022-10-10 13:23] larswmh commented on #864
@Ein-Tim would you think adding this to the FAQ, which is linked to in the Certificates tab of the app, would make sense? I wouldn't rule out that it will be implemented directly into the app, but think it's much more likely to be implemented in the FAQ and would forward it if you agree with me

[2022-10-10 14:27] dsarkar commented on #374
@Ein-Tim Thanks for the feedback, we will forward this.

[2022-10-10 14:36] Ein-Tim commented on #864
@larswmh

Adding this to the FAQ seems like a good idea, but as we all know most users never make their way to the FAQ, a direct link in the app would be best (-:

But for sure, go ahead and add it to the FAQ.

The FAQ entry https://www.coronawarn.app/en/faq/#vac_status seems like a good place for this.

[2022-10-10 14:45] dsarkar commented on #864
@Ein-Tim the FAQ you mention is directly linked from the app in the "vaccination status" info box. So, indirectly via the FAQ article a user could reach that webpage.

![image](https://user-images.githubusercontent.com/1409741/194893002-cffcbeec-6408-4dc1-9e18-4e2ac89cc642.png)

[2022-10-10 14:48] Ein-Tim commented on #864
@dsarkar

Yes, that's why I suggest to add the link to this FAQ entry (-:

If you want to, I can provide a PR for this in the website repo.

[2022-10-10 15:59] dsarkar commented on #864
@Ein-Tim Thanks, PR will be appreciated, however, we need to get first feedback that such a change is accepted.

[2022-10-10 16:24] Ein-Tim commented on #864
@dsarkar Ok, just shoot me a comment here and I will provide a PR.

[2022-10-10 18:51] #385 closed

[2022-10-11 10:29] dsarkar commented on #864
@Ein-Tim PR would be merged. Do you still want to provide it? Thanks.

[2022-10-11 10:33] Ein-Tim commented on #864
@dsarkar PR will follow in the due course of this week.

[2022-10-11 13:26] GisoSchroederSAP commented on #863
Yes, interesting - EugeneV...(also sometimes active on Twitter)  and fynngodau run a very similar reasoning - and none of the comments was answered (yet) by the originator Mtag, assuming **Mtag** _in Wikipedia_ is [@Mtagxx](https://github.com/Mtagxx) here _in GitHub_.

[2022-10-12 08:39] larswmh commented on #375
Hello again dear community,

we appreciated your contribution and the results of this issue earlier last year and would once again like to ask you for your feedback and input on a list of most wanted features / enhancements for the Corona-Warn-App.

Examples that we think are important:
- Allow home-use rapid tests in order to warn other people faster, which could lead to an earlier isolation of p

[2022-10-12 12:46] alanrick commented on #375
The CWA has been both revolutionary and effective as well as acting as a lighthouse for future software, particularly related to personal health and dealing with a pandemics. But I vote for sunsetting it now.

Sunsetting
a) mitigates the only negative aspect of the project (costs, especially the TAN hotline),
b) reduces the carbon footprint (perhaps, I'm not sure if the servers can be switched off

[2022-10-12 17:32] ndegendogo commented on #375
@larswmh I vote for the two on your list that are related to the original and core function of cwa: warning others (especially anonymous contacts) and thus help to reduce spreading.

(1) include self-tests in the warning infrastructure. I am not sure about potential mis-use of this feature; but many people that I know don't go through an "official" test any longer. They have symptoms, they get a p

[2022-10-13 05:43] mlenkeit commented on #863
@Ein-Tim thanks for your patience! We have discussed this with the authors of the science blog from RKI. We don’t share the conclusion of a 98,5% “false alarm” rate and we’d like to explain why:

Our aspiration for the Corona-Warn-App is to notify users about exposures where the user was exposed to a person carrying the SARS-CoV-2 virus and thus was at risk of being at the receiving end of a SARS-

[2022-10-13 12:15] Ein-Tim commented on #863
@mlenkeit

Thank you very, very much for your comment! It's really great how you work with the community! Big thanks!

I share the assessment you & the RKI team made and will relay this to the Wikipedia discussion thread.

My question here has been answered in detail, thus I'm closing this issue now.

[2022-10-13 12:20] #863 closed, assigned to mlenkeit

[2022-10-13 12:20] mlenkeit commented on #863
@Ein-Tim thanks, I'll pass it on to the team 😉

[2022-10-13 12:21] Ein-Tim commented on #863
@mlenkeit

Thanks & for sure also a big thanks to the team!

[2022-10-14 14:37] Ein-Tim commented on #864
I'll start working on this today, expect a PR on the weekend.

[2022-10-14 22:38] Ein-Tim commented on #864
- PR https://github.com/corona-warn-app/cwa-website/pull/3141 provided.

[2022-10-17 14:34] Ein-Tim commented on #864
A link was added to the FAQ. That's a good start. 👍

[2022-10-18 05:20] Ein-Tim commented on #798
@dsarkar This issue is stale & should be closed.

[2022-10-18 05:24] Ein-Tim commented on #788
@GisoSchroederSAP

Hey Giso, I'm pinging you here as I see this as a very necessary extension of the app.
Currently, most CWA users seem to assume that any QR code they get in regard to their test is scannable by the CWA. If the scan fails, they don't dive as deep as scanning the QR code with some QR code scanner, etc. but just assume the CWA is broken (and uninstall it).
Adding at least the plain

[2022-10-18 08:26] GisoSchroederSAP commented on #788
Thanks for bringing this on the table, @Ein-Tim. I'm going to take this again to the product owner.
The issue here is (you already commented in one ore multiple twitter tweets): Our app does not have any control, who else in the world generates QR codes - so the CWA only can state

- it processes only CWA-compatible QR codes
- if a QR code is not compatible (like in the error message, right?)

So,

[2022-10-18 09:00] Ein-Tim commented on #788
@GisoSchroederSAP

Haha, I also thought if we could somehow find out which codes, not meant for the CWA, are mostly scanned in the app and handle them specially.

E.g. Scanning a QR code meant for the app mein-laborergebnis, would lead to this error message:
"Dieser QR-Code ist nicht für die Corona-Warn-App gedacht. Scannen Sie ihn stattdessen mit der Mein-Laborergebnis-App."

However, I know that

[2022-10-18 10:12] GisoSchroederSAP commented on #788
Here is the thing: Meanwhile, we observe that even more and more of the "big ones" (MedLab, SYNLAB, eurofins...) and of the local MVZ labs are no longer use the CWA QR code any longer, but redirect to theier own or third-party websites to retrieve the report. So, it will be hard to name the right choice,  I'm afraid.
And even then, one important question for those users remains: _How do I get the

[2022-10-18 11:37] larswmh commented on #860
Thanks for your enhancement request @error401de. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-14162](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14162)

---
Corona-Warn-App Open Source Team

[2022-10-18 13:46] Ein-Tim commented on #788
@GisoSchroederSAP

Do you/the team have any idea why this is happening?

---

I think a good solution would be:

"Der QR-Code, den Sie gescannt haben, enthält keine Informationen, die von der Corona-Warn-App verarbeitet werden können. Sie können den QR-Code mit einer QR-Code-Scanner-App scannen um seinen Inhalt einzusehen."

IMO, this error message makes clear that this is not a problem in the CWA

[2022-10-20 16:30] GisoSchroederSAP commented on #788
Well, as the current _Testverordnung_ does not enforce the facility to be connected to the CWA infrastructure and services, most of them seem to detach from the result delivery process and from the certificate service, so they can return to their traditional way of doing that was well-established before. In the end, we do not have the direct contact to those labs, as the technical interfaces and o

[2022-10-20 16:38] Ein-Tim commented on #788
@GisoSchroederSAP

Ah, I see. Thanks!

[2022-10-21 09:40] brianebeling commented on #798
Agreed, thanks for letting us know. If you see any need to discuss this further, feel free to reopen or create a new issue, please.

[2022-10-21 09:40] #798 closed, assigned to nobody

[2022-10-21 10:21] ndegendogo opened #865 "Show the date of having shared keys to the user"
## Current Implementation

## Suggested Enhancement

After sharing the keys, the timestamp (date and time) of this action should be available in the GUI

## Expected Benefits

More transparency for the user

Note: I'll add more to this ticket later - editing github with only smartphone is broken 😱

---
Internal Tracking ID: [EXPOSUREAPP-14212](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14212)

[2022-10-21 10:49] Ein-Tim commented on #865
- This is very similar to https://github.com/corona-warn-app/cwa-wishlist/issues/838.

Maybe we can merge these two issues @ndegendogo?

[2022-10-23 11:37] Ein-Tim opened #866 "Add explanation of vaccination statistic terms to the app"
## Current Implementation
The CWA includes the following statistics, among others, on vaccination:

- "People Who Have Received at Least One Vaccine Dose" ("Mindestens eimal geimpfte Personen")
- "People Who Have Basic Immunization" ("Grundimmunisiert")
- "People Who Have Received a Booster Vaccination" ("Personen mit Auffrischimpfung")

The used terms are nowhere defined in the app. For example,

[2022-10-24 07:53] dsarkar commented on #866
Good morning @Ein-Tim, thanks for the suggestion. Internal Tracking ID: [EXPOSUREAPP-14221](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14221)

[2022-10-24 08:01] MikeMcC399 commented on #866
Assuming that the immunization data displayed in the CWA statistics tiles has the same source as https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland then the exact definitions are on https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland#erkl%C3%A4rung-zum-merkmal-impfstatus.

[2022-10-29 05:23] HolgerJeromin commented on #773
I still have a "scary" red display of my PCR Test 202 days afterwards.
This is kind of silly to keep on the homescreen for longer than a month.

If you do not want to delete it, it should be at least be "less red" because the info "you are probably infectious" and "your local government will perhaps contact you in the next days" is bogus.

[2022-10-29 17:39] Ein-Tim commented on #773
I also want to stress this point. Negative tests are automatically shown as invalid after a given period of time. The same should be the case for positive tests.

[2022-10-29 17:53] Ein-Tim opened #867 "Add information to positive test result that this is not a certificate of recovery"
## Current Implementation
Registered positive tests currently stay in the app for an unlimited period of time. Also, the information on the positive test result doesn't mention the fact that the positive test result in the CWA is **not** a certificate of recovery.

## Suggested Enhancement
The information presented to the user should include a paragraph reg. the certificate of recovery. Something

[2022-10-29 17:57] Ein-Tim opened #868 "Make difference between positive test result & certificate of recovery more clear"
## Current Implementation
Currently, some users find it quite hard to understand the difference between a
- certificate of recovery and a
- positive test result
in the app.

Questions I saw on Twitter include:
"Do I really need to go to a pharmacy to get a QR code [certificate of recovery] to warn others via the app?",
"Why is there no certificate of recovery for the positive test result in the ap

[2022-10-31 19:47] MikeMcC399 commented on #579
@rgerhards

Your suggestion is implemented in CWA 2.28. See https://www.coronawarn.app/en/blog/2022-10-26-cwa-2-28/ which announces the "pandemic radar".

You can access it from the app or directly through https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/COVID-19-Trends/COVID-19-Trends.html?__blob=publicationFile#/home

[2022-11-02 21:37] robinduerhager opened #869 "Display a downloadable/printable pdf version of the PCR-Test"
## Feature description
Currently, when having a positive PCR-Test, the tests status only gets stored in the app for 21 days. When you click on the PCR Test, you just get some more details about how to best behave in such a situation. Though, when having a positive or negative test, some might want to print the original test report out for backup purposes and in case someone needs to show that the

[2022-11-02 23:31] Ein-Tim commented on #869
Hey @robinduerhager!

Thank you for this feature request! Could you please have a look at the following to issues and check if your proposal is sufficiently covered by them? If yes, I'd suggest you monitor these issues for update and close this one. Thanks!

- https://github.com/corona-warn-app/cwa-wishlist/issues/821
- https://github.com/corona-warn-app/cwa-wishlist/issues/822

Especially #822 se

[2022-11-03 10:52] dsarkar commented on #869
Hi @robinduerhager,

thanks for your suggestion; see comment https://github.com/corona-warn-app/cwa-wishlist/issues/869#issuecomment-1301490319 from @Ein-Tim.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-11-03 10:58] dsarkar commented on #867
Hi @Ein-Tim, thanks you very much for this interesting suggestion and providing examples from twitter. Internal Tracking ID: [EXPOSUREAPP-14287](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14287)

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-11-03 11:06] dsarkar commented on #868
@Ein-Tim Thanks for opening this issue. I understand that your suggestion https://github.com/corona-warn-app/cwa-wishlist/issues/867 is a possible implementation of this issue here, correct?

[2022-11-03 12:18] Ein-Tim commented on #868
@dsarkar Yes, that would be one way.

[2022-11-03 20:33] robinduerhager commented on #869
Hi @dsarkar and @Ein-Tim thanks for the quick reply.

Actually, both issues cover mine well, #822 even very precisely, though i would want to extend this one with being able to download the test result / labor report regardless of the test status.

I will close this issue and create a Comment at #822 :). Thank you for pointing me in the right direction, it seems like i typed in the wrong keywords

[2022-11-03 20:33] #869 closed

[2022-11-03 20:41] robinduerhager commented on #822
As mentioned in #869 i want to extend this feature request with the ability to download any test result / labor report regardless of the tests status.

In addition to your mentioned points @Ein-Tim , i think information like `laborname`, `testID` and `additional general information` that gives the downloadable pdf some sort of validity is crucial for this to work and be accepted in the community.

[2022-11-03 23:37] Ein-Tim commented on #865
How do we continue here? Merge this with #838 or leave it as it is?

[2022-11-04 10:50] dsarkar commented on #822
@robinduerhager Thanks for further refining the suggestion, forwarded to internal ticket.

[2022-11-04 11:19] Ein-Tim commented on #822
@dsarkar

A wish from my side: Please make it clear that @robinduerhager's proposal is an extension for my feature request, and not the original proposal.
Don't get me wrong, I love the idea of @robinduerhager and that would be the optimal implementation. However, this would require major changes in the process of how test results and with what information test results are submitted to the CWA.

W

[2022-11-04 19:26] matthiasschroder commented on #537
Maybe I misunderstand what the purpose of the Rapid Test Profile is. I was under the assumption that this creates a QR code that contains all personal data relevant to the test station. In that case it should include the country of residence. Assuming that the country of residence is the same as the country where the test is done is simply wrong - except perhaps for people that never ever leave th

[2022-11-07 09:39] brianebeling commented on #865
I'd say separate issues, like they are now, since they target slightly different areas/use cases. This is a more permanent transparency improvement, while showing a different pop up when warning would simply improve the immediate user experience.

[2022-11-07 09:47] brianebeling commented on #773
I generally agree that the test doesn't need to be shown on the home screen after the fact. Is there a specific reason you do not want to delete the test?

[2022-11-07 10:31] HolgerJeromin commented on #773
1. Curiosity when the test is cleaned up
2. Fear to delete something "important"
3. Having a proof of a positive test in the past (when having long/post covid). But yes the QR code of the recover is much more useful for that :-)

Personally I am in category 1, but the other two are probably found in the wild, too.

[2022-11-07 14:40] Ein-Tim commented on #865
This is planned for 2.29, see the string changes in https://github.com/corona-warn-app/cwa-app-ios/pull/4878:
"Ihre Warnung wird dem Kontakt-Tagebuch hinzugefügt."

[2022-11-07 18:46] brianebeling commented on #773
Thank you very much for the insight, I think those are very valid reasons as to why people do not want to delete the tests or why it feels bad to do so. I added your feedback to the internal ticket.

[2022-11-07 20:17] ndegendogo commented on #865
Yeah! 😁🎉😁

[2022-11-13 09:51] #535 closed

[2022-11-13 09:51] #270 closed

[2022-11-22 14:09] MikeMcC399 commented on #761
This request is probably not relevant any more since 2G/3G status is no longer displayed by CWA. See https://www.coronawarn.app/en/faq/results/#admission_policy

"Update on September 28, 2022:
The status proof (3G, 3G+, 2G, 2G+) is currently not relevant and therefore not shown by the app"